In [1]:
# !pip install mysql-connector-python
# !pip install pyspark

In [2]:
import mysql.connector
from pyspark.sql import SparkSession
import csv
import random
from pyspark.sql.functions import lit, col, when

In [3]:
# mydb = mysql.connector.connect(
#   host="localhost",
#   user="root",
#   password="",
#   database="spark_train_one"
# )

In [4]:
class ToDictMixin:
    def to_dict(self):
        return {k: v for k, v in vars(self).items() if not k.startswith("__")}

In [5]:
class Armor(ToDictMixin):
    
    id_counter = 1
    
    def __init__(self, name: str, armor: int = 1, armor_magik: int = 0, mana: int = 0,
                 durability: int = 5, max_durability: int = None):
        self.id = Armor.id_counter
        Armor.id_counter += 1
        self.name = name
        self.armor = armor
        self.armor_magik = armor_magik
        self.mana = mana
        self.durability = durability
        self.max_durability = max_durability if max_durability is not None else durability
        self.broken = False

In [6]:
class Weapon(ToDictMixin):
    
    id_counter = 1
    
    def __init__(self, name: str, atk: int = 1, atk_magik: int = 0, mana: int = 0,
                 mana_cost: int = 1, durability: int = 5, max_durability: int = None):
        self.id = Weapon.id_counter
        Weapon.id_counter += 1
        self.name = name
        self.atk = atk
        self.atk_magik = atk_magik
        self.mana = mana
        self.mana_cost = mana_cost
        self.durability = durability
        self.max_durability = max_durability if max_durability is not None else durability
        self.broken = False

In [7]:
class Hero(ToDictMixin):
    
    id_counter = 1
    
    
    
    def __init__(self, name: str, pv: int, max_pv: int = None, atk: int = None, atk_magik: int = None, 
                 mana: int = None, max_mana: int = None, initiative: int = None, experience: int = None, 
                 experience_to_level_up: int = None, level: int = None, speed: int = None, origine_speed: int = None):
        self.id = Hero.id_counter
        Hero.id_counter += 1
        self.name = name
        self.pv = pv
        self.max_pv = max_pv if max_pv is not None else pv
        self.atk = atk if atk is not None else 0
        self.atk_magik = atk_magik if atk_magik is not None else 0
        self.mana = mana if mana is not None else 0
        self.max_mana = max_mana if max_mana is not None else mana
        self.initiative = initiative if initiative is not None else 0
        self.experience = experience if experience is not None else 0
        self.experience_to_level_up = experience_to_level_up if experience_to_level_up is not None else 100
        self.level = level if level is not None else 1
        self.speed = speed if speed is not None else 0
        self.origine_speed = origine_speed if origine_speed is not None else 0
        self.items = []
        self.weapon : Weapon | None = None
        self.armor : Armor | None = None
    
    
    def equip_weapon(self, weapon):
        if isinstance(weapon, Weapon) :
            self.weapon = weapon.id
            return True
        return False
        
    def equip_armor(self, armor):
        if isinstance(armor, Armor) :
            self.armor = armor.id
            return True
        return False
    
    # def add_item(self, item):
    #     if isinstance(item, Item) :
    #         self.items.append(item.id)
    #         return True
    #     return False

In [8]:
noms_personnages = [
    "Aria", "Balthazar", "Cassandra", "Darian", "Elena", "Felix", "Gabrielle", "Hadrien",
    "Isadora", "Jasper", "Kaïra", "Landon", "Maïlys", "Nolan", "Olivia", "Philemon",
    "Quintus", "Raphael", "Saoirse", "Thaddeus", "Ursula", "Valentin", "Wilhelm", "Xander",
    "Yara", "Zander", "Aidan", "Brianna", "Caleb", "Dahlia", "Evelyn", "Finnegan", "Gwendolyn",
    "Harvey", "Imogen", "Jaden", "Kendra", "Liam", "Matilda", "Niamh", "Ophelia", "Percival",
    "Qiana", "Riley", "Sebastian", "Tristan", "Uriel", "Violet", "Wyatt", "Xiomara", "Yvette", "Zelda"
]
noms_armors = [
    "Armure de cuir", "Armure de fer", "Armure de plaque", "Armure de mailles", "Armure de glace",
    "Armure d'os", "Armure d'écailles", "Armure de dragon", "Armure de lumière", "Armure de ténèbres",
    "Armure de cristal", "Armure de mithril", "Armure de diamant", "Armure de feu", "Armure de foudre",
    "Armure de glace", "Armure de vent", "Armure de l'eau", "Armure de terre", "Armure de roche",
    "Armure de bois", "Armure de métal", "Armure de magma", "Armure de néant", "Armure de luminescence",
    "Armure de brume", "Armure de tempête", "Armure de mort", "Armure de vie", "Armure de guérison",
    "Armure de force", "Armure de sagesse", "Armure de chance", "Armure de la nature", "Armure des anges",
    "Armure des démons", "Armure des héros", "Armure des rois", "Armure des elfes", "Armure des nains",
    "Armure des gnomes", "Armure des orcs", "Armure des gobelins", "Armure des trolls", "Armure des géants",
    "Armure de lave", "Armure de lumière divine", "Armure de l'ombre", "Armure de l'océan", "Armure des vents",
    "Armure des montagnes"
]
noms_weapons = [
    "Épée de cristal", "Hache de guerre", "Bâton de feu", "Dague empoisonnée", "Arc long",
    "Masse d'armes", "Lance d'argent", "Baguette magique", "Gourdin", "Katana",
    "Fouet de combat", "Fleuret du duelliste", "Marteau de guerre", "Glaive", "Rapière",
    "Arbalète", "Hallebarde", "Gantelet de force", "Canne de mage", "Livre de sortilèges",
    "Fléau", "Arc court", "Cimeterre", "Couteau de lancer", "Poignard",
    "Épée bâtarde", "Hache double", "Bâton de glace", "Dague runique", "Arc de chasse",
    "Marteau de Thor", "Lance de la foudre", "Baguette d'illusion", "Gourdin épineux", "Wakizashi",
    "Fouet barbelé", "Épée courte", "Marteau-piqueur", "Glaive du serpent", "Rapière en argent",
    "Arbalète à répétition", "Hallebarde du jugement", "Gantelet du titan", "Canne à feu", "Livre de connaissances",
    "Fléau des ténèbres", "Arc de la lune noire", "Cimeterre démoniaque", "Couteau de jet empoisonné", "Poignard de l'ombre",
]

In [9]:
# Génération de 50 personnages, armors et weapons aléatoires
hero_list = []
armor_list = []
weapon_list = []
for i in range(50):
    hero = Hero(name=noms_personnages[i], pv=random.randint(50, 200), atk=random.randint(0, 50), atk_magik=random.randint(0, 50), 
                mana=random.randint(0, 100), initiative=random.randint(0, 100), experience=random.randint(0, 1000), 
                experience_to_level_up=random.randint(100, 1000), level=random.randint(1, 10), speed=random.randint(0, 100), 
                origine_speed=random.randint(0, 100))
    hero_list.append(hero)
    
    armor = Armor(name=noms_armors[i], armor=random.randint(1, 10), armor_magik=random.randint(0, 5),
                  mana=random.randint(0, 5), durability=random.randint(1, 10),
                  max_durability=random.randint(10, 20))
    armor_list.append(armor)

    weapon = Weapon(name=noms_weapons[i], atk=random.randint(1, 10), atk_magik=random.randint(0, 5),
                    mana=random.randint(0, 5), mana_cost=random.randint(1, 5),
                    durability=random.randint(1, 10), max_durability=random.randint(10, 20))
    weapon_list.append(weapon)
    
hero_attribute_names = list(hero_list[0].to_dict().keys())
armor_attribute_names = list(armor_list[0].to_dict().keys())
weapon_attribute_names = list(weapon_list[0].to_dict().keys())
hero_list[25].equip_weapon(weapon_list[25])
print(hero_attribute_names)
print(armor_attribute_names)
print(weapon_attribute_names)

['id', 'name', 'pv', 'max_pv', 'atk', 'atk_magik', 'mana', 'max_mana', 'initiative', 'experience', 'experience_to_level_up', 'level', 'speed', 'origine_speed', 'items', 'weapon', 'armor']
['id', 'name', 'armor', 'armor_magik', 'mana', 'durability', 'max_durability', 'broken']
['id', 'name', 'atk', 'atk_magik', 'mana', 'mana_cost', 'durability', 'max_durability', 'broken']

In [10]:
# Écriture de la table dans un fichier CSV
def csv_geenerator(path, items_list):
    with open(path, mode="w", newline='') as file:
        fieldnames = list(items_list[0].to_dict().keys())
        writer = csv.DictWriter(file, fieldnames=fieldnames)
        writer.writeheader()
        for item in items_list:
            writer.writerow({k: v.encode('utf-8').decode('ascii', 'ignore') if isinstance(v, str) else v for k, v in item.to_dict().items()})

In [11]:
csv_geenerator("assets/csv/hero.csv", hero_list)
csv_geenerator("assets/csv/armor.csv", armor_list)
csv_geenerator("assets/csv/weapon.csv", weapon_list)

In [12]:
# mycursor = mydb.cursor()

# mycursor.execute("SELECT * FROM yourtable")

# myresult = mycursor.fetchall()

# for x in myresult:
#   print(x)


spark = SparkSession.builder.appName('Create_Hero').getOrCreate()

df_hero = spark.read.csv("assets/csv/hero.csv", header=True, inferSchema=True)
df_armor = spark.read.csv("assets/csv/armor.csv", header=True, inferSchema=True)
df_weapon = spark.read.csv("assets/csv/weapon.csv", header=True, inferSchema=True)

In [13]:
# Affichage des données du DataFrame
df_hero.show()
df_armor.show()
df_weapon.show()
# Création d'une vue temporaire à partir du DataFrame
df_hero.createOrReplaceTempView("hero")
df_armor.createOrReplaceTempView("armor")
df_weapon.createOrReplaceTempView("weapon")

+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
| id|     name| pv|max_pv|atk|atk_magik|mana|max_mana|initiative|experience|experience_to_level_up|level|speed|origine_speed|items|weapon|armor|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
|  1|     Aria| 99|    99| 25|       24|  44|      44|        12|       388|                   882|   10|   93|           40|   []|  null| null|
|  2|Balthazar|192|   192| 19|       50|  97|      97|        12|       342|                   438|    4|   55|           59|   []|  null| null|
|  3|Cassandra|189|   189| 26|        8|  73|      73|        30|       994|                   212|    8|   16|           72|   []|  null| null|
|  4|   Darian|125|   125| 32|       43| 100|     100|        84|       217|                   665|    7|   28|            5|   []|  null| null|
|  5|    Elena|199|   199| 26|        1|  87|      87|        35|       595|                   500|    1|   77|           65|   []|  null| null|
|  6|    Felix|123|   123| 38|       46|  44|      44|        91|       189|                   315|    6|   54|           57|   []|  null| null|
|  7|Gabrielle|191|   191|  4|       28|  10|      10|        51|       790|                   485|    6|   90|           96|   []|  null| null|
|  8|  Hadrien|124|   124| 37|       22|  64|      64|         8|       747|                   722|   10|   93|           62|   []|  null| null|
|  9|  Isadora|197|   197| 25|       18|  73|      73|        87|       699|                   571|    8|    1|           21|   []|  null| null|
| 10|   Jasper| 86|    86| 47|       22|  96|      96|        98|       317|                   112|    1|   11|           95|   []|  null| null|
| 11|     Kara|135|   135| 38|        2|  80|      80|        87|       379|                   200|   10|   16|           91|   []|  null| null|
| 12|   Landon|170|   170| 43|       11|  20|      20|        61|       348|                   135|    7|   54|           95|   []|  null| null|
| 13|    Malys|161|   161|  3|       17|  52|      52|         2|       927|                   547|    3|   63|           60|   []|  null| null|
| 14|    Nolan|116|   116| 10|       17|  63|      63|        26|       707|                   511|    4|   43|           15|   []|  null| null|
| 15|   Olivia| 98|    98| 19|       45|  34|      34|        42|       864|                   620|    1|   12|           10|   []|  null| null|
| 16| Philemon|110|   110| 23|       36|  79|      79|        56|       451|                   409|    4|   12|           20|   []|  null| null|
| 17|  Quintus| 65|    65| 13|       49|  50|      50|        29|       208|                   577|    2|   78|           94|   []|  null| null|
| 18|  Raphael|175|   175| 44|       32|  14|      14|        24|       234|                   247|    6|   95|           19|   []|  null| null|
| 19|  Saoirse| 55|    55|  2|       18|  16|      16|        14|         6|                   251|    2|   31|           72|   []|  null| null|
| 20| Thaddeus| 82|    82| 24|       33|  90|      90|        87|       677|                   858|    7|   34|           76|   []|  null| null|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
only showing top 20 rows

+---+-----------------+-----+-----------+----+----------+--------------+------+
| id|             name|armor|armor_magik|mana|durability|max_durability|broken|
+---+-----------------+-----+-----------+----+----------+--------------+------+
|  1|   Armure de cuir|    3|          3|   0|         2|            15| false|
|  2|    Armure de fer|    5|          2|   1|         6|            16| false|
|  3| Armure de plaque|    2|          2|   2|         2|            12| false|
|  4|Armure de mailles|    8|          4|   5|         9|            14| false|
|  5|  Armure de glace|    4|          2|   1|         9|            11| false|
|  6|      Armure d'os|    1|          5|   1|         2|            13| false|
|  7| Armure d'cailles|    8|          1|   4|         2|            15| false|
|  8| Armure de dragon|    6|          5|   4|         6|            17| false|
|  9| Armure de lumire|    6|          0|   4|         6|            19| false|
| 10| Armure de tnbres|    7|          4|   2|         8|            12| false|
| 11|Armure de cristal|    6|          3|   4|         9|            10| false|
| 12|Armure de mithril|   10|          3|   5|        10|            10| false|
| 13|Armure de diamant|    5|          5|   5|         5|            20| false|
| 14|    Armure de feu|    8|          1|   3|         3|            14| false|
| 15| Armure de foudre|    1|          2|   5|        10|            14| false|
| 16|  Armure de glace|    9|          0|   1|         3|            16| false|
| 17|   Armure de vent|    1|          3|   0|         5|            19| false|
| 18|  Armure de l'eau|    7|          1|   4|         1|            11| false|
| 19|  Armure de terre|    9|          2|   2|         2|            14| false|
| 20|  Armure de roche|    3|          1|   3|         7|            14| false|
+---+-----------------+-----+-----------+----+----------+--------------+------+
only showing top 20 rows

+---+--------------------+---+---------+----+---------+----------+--------------+------+
| id|                name|atk|atk_magik|mana|mana_cost|durability|max_durability|broken|
+---+--------------------+---+---------+----+---------+----------+--------------+------+
|  1|       pe de cristal|  9|        5|   0|        2|         7|            16| false|
|  2|     Hache de guerre|  3|        2|   1|        2|         3|            17| false|
|  3|         Bton de feu|  7|        1|   2|        3|        10|            11| false|
|  4|    Dague empoisonne|  3|        3|   1|        4|         7|            12| false|
|  5|            Arc long|  9|        3|   4|        3|         7|            15| false|
|  6|       Masse d'armes|  2|        4|   3|        1|         1|            16| false|
|  7|      Lance d'argent|  6|        5|   5|        2|         5|            10| false|
|  8|    Baguette magique|  3|        1|   4|        1|         3|            19| false|
|  9|             Gourdin|  9|        2|   4|        3|         2|            13| false|
| 10|              Katana| 10|        0|   2|        3|         5|            14| false|
| 11|     Fouet de combat|  9|        3|   1|        4|         9|            17| false|
| 12|Fleuret du duelliste|  1|        1|   1|        3|         5|            19| false|
| 13|   Marteau de guerre|  1|        1|   5|        2|         5|            12| false|
| 14|              Glaive|  7|        0|   4|        4|        10|            19| false|
| 15|              Rapire|  5|        3|   4|        1|         1|            11| false|
| 16|             Arbalte| 10|        1|   4|        3|         2|            16| false|
| 17|          Hallebarde|  4|        0|   2|        2|         6|            18| false|
| 18|   Gantelet de force|  4|        5|   3|        1|         2|            16| false|
| 19|       Canne de mage|  5|        0|   1|        5|         4|            19| false|
| 20|  Livre de sortilges|  7|        5|   1|        5|        10|            13| false|
+---+--------------------+---+---------+----+---------+----------+--------------+------+
only showing top 20 rows

In [14]:
print(spark.catalog.listTables())

[Table(name='armor', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True), Table(name='hero', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True), Table(name='weapon', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

In [15]:

# Exécution d'une requête SQL pour sélectionner les héros avec plus de 100 points de vie
result = spark.sql("SELECT * FROM hero WHERE pv > 100")

# Affichage des résultats
result.show(n=500, truncate=False)

+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
|id |name     |pv |max_pv|atk|atk_magik|mana|max_mana|initiative|experience|experience_to_level_up|level|speed|origine_speed|items|weapon|armor|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
|2  |Balthazar|192|192   |19 |50       |97  |97      |12        |342       |438                   |4    |55   |59           |[]   |null  |null |
|3  |Cassandra|189|189   |26 |8        |73  |73      |30        |994       |212                   |8    |16   |72           |[]   |null  |null |
|4  |Darian   |125|125   |32 |43       |100 |100     |84        |217       |665                   |7    |28   |5            |[]   |null  |null |
|5  |Elena    |199|199   |26 |1        |87  |87      |35        |595       |500                   |1    |77   |65           |[]   |null  |null |
|6  |Felix    |123|123   |38 |46       |44  |44      |91        |189       |315                   |6    |54   |57           |[]   |null  |null |
|7  |Gabrielle|191|191   |4  |28       |10  |10      |51        |790       |485                   |6    |90   |96           |[]   |null  |null |
|8  |Hadrien  |124|124   |37 |22       |64  |64      |8         |747       |722                   |10   |93   |62           |[]   |null  |null |
|9  |Isadora  |197|197   |25 |18       |73  |73      |87        |699       |571                   |8    |1    |21           |[]   |null  |null |
|11 |Kara     |135|135   |38 |2        |80  |80      |87        |379       |200                   |10   |16   |91           |[]   |null  |null |
|12 |Landon   |170|170   |43 |11       |20  |20      |61        |348       |135                   |7    |54   |95           |[]   |null  |null |
|13 |Malys    |161|161   |3  |17       |52  |52      |2         |927       |547                   |3    |63   |60           |[]   |null  |null |
|14 |Nolan    |116|116   |10 |17       |63  |63      |26        |707       |511                   |4    |43   |15           |[]   |null  |null |
|16 |Philemon |110|110   |23 |36       |79  |79      |56        |451       |409                   |4    |12   |20           |[]   |null  |null |
|18 |Raphael  |175|175   |44 |32       |14  |14      |24        |234       |247                   |6    |95   |19           |[]   |null  |null |
|21 |Ursula   |135|135   |44 |37       |72  |72      |29        |314       |740                   |1    |20   |14           |[]   |null  |null |
|22 |Valentin |176|176   |43 |39       |17  |17      |10        |211       |291                   |7    |62   |46           |[]   |null  |null |
|24 |Xander   |197|197   |14 |19       |49  |49      |29        |691       |213                   |4    |97   |0            |[]   |null  |null |
|28 |Brianna  |165|165   |20 |48       |61  |61      |3         |473       |858                   |6    |13   |81           |[]   |null  |null |
|29 |Caleb    |105|105   |14 |12       |85  |85      |82        |752       |376                   |6    |31   |12           |[]   |null  |null |
|32 |Finnegan |136|136   |2  |29       |9   |9       |88        |101       |161                   |2    |44   |62           |[]   |null  |null |
|33 |Gwendolyn|118|118   |24 |8        |47  |47      |68        |623       |786                   |8    |14   |33           |[]   |null  |null |
|34 |Harvey   |192|192   |33 |50       |87  |87      |14        |313       |972                   |9    |27   |63           |[]   |null  |null |
|35 |Imogen   |142|142   |6  |32       |46  |46      |78        |692       |562                   |7    |74   |32           |[]   |null  |null |
|37 |Kendra   |136|136   |9  |38       |13  |13      |3         |347       |550                   |6    |18   |93           |[]   |null  |null |
|40 |Niamh    |104|104   |13 |43       |72  |72      |98        |155       |258                   |2    |57   |59           |[]   |null  |null |
|42 |Percival |102|102   |26 |33       |76  |76      |86        |999       |694                   |9    |11   |5            |[]   |null  |null |
|43 |Qiana    |187|187   |18 |18       |27  |27      |51        |240       |627                   |7    |34   |24           |[]   |null  |null |
|44 |Riley    |195|195   |50 |45       |3   |3       |95        |652       |265                   |2    |41   |28           |[]   |null  |null |
|45 |Sebastian|157|157   |24 |23       |26  |26      |69        |70        |227                   |3    |68   |57           |[]   |null  |null |
|47 |Uriel    |119|119   |4  |42       |57  |57      |16        |953       |757                   |4    |22   |16           |[]   |null  |null |
|48 |Violet   |178|178   |12 |11       |91  |91      |26        |263       |945                   |6    |42   |88           |[]   |null  |null |
|50 |Xiomara  |129|129   |43 |15       |88  |88      |61        |385       |837                   |3    |71   |95           |[]   |null  |null |
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+

In [16]:
for table in spark.catalog.listTables():
    print(table)

Table(name='armor', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)
Table(name='hero', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)
Table(name='weapon', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)

In [17]:
weapon_column = spark.sql(f'''SELECT weapon FROM hero 
                             WHERE weapon IS NOT NULL
                          ''').collect()

for row in weapon_column:
    print(row[0])

26

In [18]:

spark.sql(f'''SELECT * FROM weapon 
            WHERE weapon.name LIKE '%btarde%'
          ''').show()

spark.sql(f'''SELECT * FROM weapon 
            WHERE weapon.id = 26
          ''').show()

spark.sql(f'''SELECT * FROM hero 
            JOIN weapon on hero.weapon = weapon.id
          ''').show()

spark.sql(f'''SELECT weapon.* FROM hero 
            JOIN weapon on hero.weapon = weapon.id
          ''').show()

+---+---------+---+---------+----+---------+----------+--------------+------+
| id|     name|atk|atk_magik|mana|mana_cost|durability|max_durability|broken|
+---+---------+---+---------+----+---------+----------+--------------+------+
| 26|pe btarde|  8|        0|   5|        4|        10|            14| false|
+---+---------+---+---------+----+---------+----------+--------------+------+

+---+---------+---+---------+----+---------+----------+--------------+------+
| id|     name|atk|atk_magik|mana|mana_cost|durability|max_durability|broken|
+---+---------+---+---------+----+---------+----------+--------------+------+
| 26|pe btarde|  8|        0|   5|        4|        10|            14| false|
+---+---------+---+---------+----+---------+----------+--------------+------+

+---+------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+---+---------+---+---------+----+---------+----------+--------------+------+
| id|  name| pv|max_pv|atk|atk_magik|mana|max_mana|initiative|experience|experience_to_level_up|level|speed|origine_speed|items|weapon|armor| id|     name|atk|atk_magik|mana|mana_cost|durability|max_durability|broken|
+---+------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+---+---------+---+---------+----+---------+----------+--------------+------+
| 26|Zander| 95|    95|  8|       41|  66|      66|        20|       453|                   159|    7|   53|           34|   []|    26| null| 26|pe btarde|  8|        0|   5|        4|        10|            14| false|
+---+------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+---+---------+---+---------+----+---------+----------+--------------+------+

+---+---------+---+---------+----+---------+----------+--------------+------+
| id|     name|atk|atk_magik|mana|mana_cost|durability|max_durability|broken|
+---+---------+---+---------+----+---------+----------+--------------+------+
| 26|pe btarde|  8|        0|   5|        4|        10|            14| false|
+---+---------+---+---------+----+---------+----------+--------------+------+

In [19]:
spark.sql(f'''SELECT * 
            FROM hero 
            JOIN weapon ON hero.weapon = weapon.id
            WHERE hero.weapon IS NOT NULL
          ''').show()

+---+------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+---+---------+---+---------+----+---------+----------+--------------+------+
| id|  name| pv|max_pv|atk|atk_magik|mana|max_mana|initiative|experience|experience_to_level_up|level|speed|origine_speed|items|weapon|armor| id|     name|atk|atk_magik|mana|mana_cost|durability|max_durability|broken|
+---+------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+---+---------+---+---------+----+---------+----------+--------------+------+
| 26|Zander| 95|    95|  8|       41|  66|      66|        20|       453|                   159|    7|   53|           34|   []|    26| null| 26|pe btarde|  8|        0|   5|        4|        10|            14| false|
+---+------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+---+---------+---+---------+----+---------+----------+--------------+------+

In [20]:
weapon_cols = [f"weapon.{col} as weapon_{col}" for col in  spark.table("weapon").columns]
weapon_cols_str = ", ".join(weapon_cols)
weapon_cols_str

'weapon.id as weapon_id, weapon.name as weapon_name, weapon.atk as weapon_atk, weapon.atk_magik as weapon_atk_magik, weapon.mana as weapon_mana, weapon.mana_cost as weapon_mana_cost, weapon.durability as weapon_durability, weapon.max_durability as weapon_max_durability, weapon.broken as weapon_broken'

In [21]:

query = f"""
    SELECT hero.*, {weapon_cols_str}
    FROM hero
    JOIN weapon ON hero.weapon = weapon.id
    WHERE hero.weapon IS NOT NULL
"""

print(query)
spark.sql('''
    SELECT hero.*, weapon.id as weapon_id, weapon.name as weapon_name
    FROM hero
    JOIN weapon ON hero.weapon = weapon.id
    WHERE hero.weapon IS NOT NULL
''').show()

    SELECT hero.*, weapon.id as weapon_id, weapon.name as weapon_name, weapon.atk as weapon_atk, weapon.atk_magik as weapon_atk_magik, weapon.mana as weapon_mana, weapon.mana_cost as weapon_mana_cost, weapon.durability as weapon_durability, weapon.max_durability as weapon_max_durability, weapon.broken as weapon_broken
    FROM hero
    JOIN weapon ON hero.weapon = weapon.id
    WHERE hero.weapon IS NOT NULL

+---+------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+---------+-----------+
| id|  name| pv|max_pv|atk|atk_magik|mana|max_mana|initiative|experience|experience_to_level_up|level|speed|origine_speed|items|weapon|armor|weapon_id|weapon_name|
+---+------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+---------+-----------+
| 26|Zander| 95|    95|  8|       41|  66|      66|        20|       453|                   159|    7|   53|           34|   []|    26| null|       26|  pe btarde|
+---+------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+---------+-----------+

In [22]:
#####################################
### On spark update doesn't work ###
###################################


# df_hero.createOrReplaceTempView("temp_hero")
# spark.sql(f'''SELECT * 
#             FROM temp_hero
#             WHERE armor IS NULL OR armor = 42
#           ''').show()


# # Perform the update using SQL
# spark.sql("""
#     UPDATE temp_hero
#     SET armor = 42
#     WHERE armor IS NULL
# """)

# # Overwrite the original table with the updated data
# spark.sql("""
#     INSERT OVERWRITE TABLE hero
#     SELECT * FROM temp_hero
# """)

In [23]:
def armor_update_table(updated_df):
    # Mettre à jour la colonne "armor" avec les valeurs de la colonne "armor_updated"
    updated_df = updated_df.withColumn('armor', col('armor_updated'))
    # Supprimer la colonne "armor_updated"
    updated_df = updated_df.drop('armor_updated')
    
    return updated_df



# Créer une nouvelle colonne avec la valeur mise à jour conditionnellement
updated_df = df_hero.withColumn('armor_updated', when(col('id') == 18, 18).otherwise(col('armor')))


# Mettre à jour la colonne "armor" avec les valeurs de la colonne "armor_updated" et Supprimer la colonne "armor_updated" 
df_hero = armor_update_table(updated_df)

# Afficher le DataFrame mis à jour
df_hero.show()

+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
| id|     name| pv|max_pv|atk|atk_magik|mana|max_mana|initiative|experience|experience_to_level_up|level|speed|origine_speed|items|weapon|armor|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
|  1|     Aria| 99|    99| 25|       24|  44|      44|        12|       388|                   882|   10|   93|           40|   []|  null| null|
|  2|Balthazar|192|   192| 19|       50|  97|      97|        12|       342|                   438|    4|   55|           59|   []|  null| null|
|  3|Cassandra|189|   189| 26|        8|  73|      73|        30|       994|                   212|    8|   16|           72|   []|  null| null|
|  4|   Darian|125|   125| 32|       43| 100|     100|        84|       217|                   665|    7|   28|            5|   []|  null| null|
|  5|    Elena|199|   199| 26|        1|  87|      87|        35|       595|                   500|    1|   77|           65|   []|  null| null|
|  6|    Felix|123|   123| 38|       46|  44|      44|        91|       189|                   315|    6|   54|           57|   []|  null| null|
|  7|Gabrielle|191|   191|  4|       28|  10|      10|        51|       790|                   485|    6|   90|           96|   []|  null| null|
|  8|  Hadrien|124|   124| 37|       22|  64|      64|         8|       747|                   722|   10|   93|           62|   []|  null| null|
|  9|  Isadora|197|   197| 25|       18|  73|      73|        87|       699|                   571|    8|    1|           21|   []|  null| null|
| 10|   Jasper| 86|    86| 47|       22|  96|      96|        98|       317|                   112|    1|   11|           95|   []|  null| null|
| 11|     Kara|135|   135| 38|        2|  80|      80|        87|       379|                   200|   10|   16|           91|   []|  null| null|
| 12|   Landon|170|   170| 43|       11|  20|      20|        61|       348|                   135|    7|   54|           95|   []|  null| null|
| 13|    Malys|161|   161|  3|       17|  52|      52|         2|       927|                   547|    3|   63|           60|   []|  null| null|
| 14|    Nolan|116|   116| 10|       17|  63|      63|        26|       707|                   511|    4|   43|           15|   []|  null| null|
| 15|   Olivia| 98|    98| 19|       45|  34|      34|        42|       864|                   620|    1|   12|           10|   []|  null| null|
| 16| Philemon|110|   110| 23|       36|  79|      79|        56|       451|                   409|    4|   12|           20|   []|  null| null|
| 17|  Quintus| 65|    65| 13|       49|  50|      50|        29|       208|                   577|    2|   78|           94|   []|  null| null|
| 18|  Raphael|175|   175| 44|       32|  14|      14|        24|       234|                   247|    6|   95|           19|   []|  null|   18|
| 19|  Saoirse| 55|    55|  2|       18|  16|      16|        14|         6|                   251|    2|   31|           72|   []|  null| null|
| 20| Thaddeus| 82|    82| 24|       33|  90|      90|        87|       677|                   858|    7|   34|           76|   []|  null| null|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
only showing top 20 rows

In [24]:
# Créer une nouvelle colonne avec la valeur mise à jour conditionnellement 
updated_df = df_hero.withColumn('armor_updated', when((col('id') < 15) | (col('id') > 20), 14).otherwise(col('armor')))

# Mettre à jour la colonne "armor" avec les valeurs de la colonne "armor_updated" et Supprimer la colonne "armor_updated" 
df_hero = armor_update_table(updated_df)

# Afficher le DataFrame mis à jour
df_hero.show(n=50)

+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
| id|     name| pv|max_pv|atk|atk_magik|mana|max_mana|initiative|experience|experience_to_level_up|level|speed|origine_speed|items|weapon|armor|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
|  1|     Aria| 99|    99| 25|       24|  44|      44|        12|       388|                   882|   10|   93|           40|   []|  null|   14|
|  2|Balthazar|192|   192| 19|       50|  97|      97|        12|       342|                   438|    4|   55|           59|   []|  null|   14|
|  3|Cassandra|189|   189| 26|        8|  73|      73|        30|       994|                   212|    8|   16|           72|   []|  null|   14|
|  4|   Darian|125|   125| 32|       43| 100|     100|        84|       217|                   665|    7|   28|            5|   []|  null|   14|
|  5|    Elena|199|   199| 26|        1|  87|      87|        35|       595|                   500|    1|   77|           65|   []|  null|   14|
|  6|    Felix|123|   123| 38|       46|  44|      44|        91|       189|                   315|    6|   54|           57|   []|  null|   14|
|  7|Gabrielle|191|   191|  4|       28|  10|      10|        51|       790|                   485|    6|   90|           96|   []|  null|   14|
|  8|  Hadrien|124|   124| 37|       22|  64|      64|         8|       747|                   722|   10|   93|           62|   []|  null|   14|
|  9|  Isadora|197|   197| 25|       18|  73|      73|        87|       699|                   571|    8|    1|           21|   []|  null|   14|
| 10|   Jasper| 86|    86| 47|       22|  96|      96|        98|       317|                   112|    1|   11|           95|   []|  null|   14|
| 11|     Kara|135|   135| 38|        2|  80|      80|        87|       379|                   200|   10|   16|           91|   []|  null|   14|
| 12|   Landon|170|   170| 43|       11|  20|      20|        61|       348|                   135|    7|   54|           95|   []|  null|   14|
| 13|    Malys|161|   161|  3|       17|  52|      52|         2|       927|                   547|    3|   63|           60|   []|  null|   14|
| 14|    Nolan|116|   116| 10|       17|  63|      63|        26|       707|                   511|    4|   43|           15|   []|  null|   14|
| 15|   Olivia| 98|    98| 19|       45|  34|      34|        42|       864|                   620|    1|   12|           10|   []|  null| null|
| 16| Philemon|110|   110| 23|       36|  79|      79|        56|       451|                   409|    4|   12|           20|   []|  null| null|
| 17|  Quintus| 65|    65| 13|       49|  50|      50|        29|       208|                   577|    2|   78|           94|   []|  null| null|
| 18|  Raphael|175|   175| 44|       32|  14|      14|        24|       234|                   247|    6|   95|           19|   []|  null|   18|
| 19|  Saoirse| 55|    55|  2|       18|  16|      16|        14|         6|                   251|    2|   31|           72|   []|  null| null|
| 20| Thaddeus| 82|    82| 24|       33|  90|      90|        87|       677|                   858|    7|   34|           76|   []|  null| null|
| 21|   Ursula|135|   135| 44|       37|  72|      72|        29|       314|                   740|    1|   20|           14|   []|  null|   14|
| 22| Valentin|176|   176| 43|       39|  17|      17|        10|       211|                   291|    7|   62|           46|   []|  null|   14|
| 23|  Wilhelm| 90|    90| 32|       23|  78|      78|        91|       296|                   101|    3|   71|           75|   []|  null|   14|
| 24|   Xander|197|   197| 14|       19|  49|      49|        29|       691|                   213|    4|   97|            0|   []|  null|   14|
| 25|     Yara| 85|    85| 27|       29|  21|      21|        88|       252|                   262|    4|   23|           43|   []|  null|   14|
| 26|   Zander| 95|    95|  8|       41|  66|      66|        20|       453|                   159|    7|   53|           34|   []|    26|   14|
| 27|    Aidan| 54|    54| 43|       30|  29|      29|        43|       283|                   379|    2|   67|           44|   []|  null|   14|
| 28|  Brianna|165|   165| 20|       48|  61|      61|         3|       473|                   858|    6|   13|           81|   []|  null|   14|
| 29|    Caleb|105|   105| 14|       12|  85|      85|        82|       752|                   376|    6|   31|           12|   []|  null|   14|
| 30|   Dahlia| 92|    92| 36|       19|  87|      87|        24|       781|                   944|    2|   10|           23|   []|  null|   14|
| 31|   Evelyn| 82|    82|  3|       44|   5|       5|        90|       908|                   279|    3|   37|           27|   []|  null|   14|
| 32| Finnegan|136|   136|  2|       29|   9|       9|        88|       101|                   161|    2|   44|           62|   []|  null|   14|
| 33|Gwendolyn|118|   118| 24|        8|  47|      47|        68|       623|                   786|    8|   14|           33|   []|  null|   14|
| 34|   Harvey|192|   192| 33|       50|  87|      87|        14|       313|                   972|    9|   27|           63|   []|  null|   14|
| 35|   Imogen|142|   142|  6|       32|  46|      46|        78|       692|                   562|    7|   74|           32|   []|  null|   14|
| 36|    Jaden| 79|    79| 19|        4|  23|      23|        21|       199|                   335|    4|   50|           10|   []|  null|   14|
| 37|   Kendra|136|   136|  9|       38|  13|      13|         3|       347|                   550|    6|   18|           93|   []|  null|   14|
| 38|     Liam| 53|    53| 48|       10|  30|      30|        66|        91|                   155|    1|    8|           48|   []|  null|   14|
| 39|  Matilda| 54|    54| 38|       29|  26|      26|        97|       410|                   514|    5|   74|           33|   []|  null|   14|
| 40|    Niamh|104|   104| 13|       43|  72|      72|        98|       155|                   258|    2|   57|           59|   []|  null|   14|
| 41|  Ophelia| 65|    65| 26|       27|  67|      67|        80|       377|                   639|   10|   15|           19|   []|  null|   14|
| 42| Percival|102|   102| 26|       33|  76|      76|        86|       999|                   694|    9|   11|            5|   []|  null|   14|
| 43|    Qiana|187|   187| 18|       18|  27|      27|        51|       240|                   627|    7|   34|           24|   []|  null|   14|
| 44|    Riley|195|   195| 50|       45|   3|       3|        95|       652|                   265|    2|   41|           28|   []|  null|   14|
| 45|Sebastian|157|   157| 24|       23|  26|      26|        69|        70|                   227|    3|   68|           57|   []|  null|   14|
| 46|  Tristan| 96|    96|  0|       42|  60|      60|        29|       584|                   702|   10|   38|            3|   []|  null|   14|
| 47|    Uriel|119|   119|  4|       42|  57|      57|        16|       953|                   757|    4|   22|           16|   []|  null|   14|
| 48|   Violet|178|   178| 12|       11|  91|      91|        26|       263|                   945|    6|   42|           88|   []|  null|   14|
| 49|    Wyatt| 79|    79| 46|       12|   6|       6|        43|       305|                   759|    2|   29|           55|   []|  null|   14|
| 50|  Xiomara|129|   129| 43|       15|  88|      88|        61|       385|                   837|    3|   71|           95|   []|  null|   14|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+

In [25]:
# Créer une nouvelle colonne avec la valeur mise à jour conditionnellement entre 10 et 15 remplacer par 11
updated_df = df_hero.withColumn('armor_updated', when(col('id').between(10, 15), 11).otherwise(col('armor')))


# Mettre à jour la colonne "armor" avec les valeurs de la colonne "armor_updated" et Supprimer la colonne "armor_updated" 
df_hero = armor_update_table(updated_df)

# Afficher le DataFrame mis à jour
df_hero.show()

+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
| id|     name| pv|max_pv|atk|atk_magik|mana|max_mana|initiative|experience|experience_to_level_up|level|speed|origine_speed|items|weapon|armor|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
|  1|     Aria| 99|    99| 25|       24|  44|      44|        12|       388|                   882|   10|   93|           40|   []|  null|   14|
|  2|Balthazar|192|   192| 19|       50|  97|      97|        12|       342|                   438|    4|   55|           59|   []|  null|   14|
|  3|Cassandra|189|   189| 26|        8|  73|      73|        30|       994|                   212|    8|   16|           72|   []|  null|   14|
|  4|   Darian|125|   125| 32|       43| 100|     100|        84|       217|                   665|    7|   28|            5|   []|  null|   14|
|  5|    Elena|199|   199| 26|        1|  87|      87|        35|       595|                   500|    1|   77|           65|   []|  null|   14|
|  6|    Felix|123|   123| 38|       46|  44|      44|        91|       189|                   315|    6|   54|           57|   []|  null|   14|
|  7|Gabrielle|191|   191|  4|       28|  10|      10|        51|       790|                   485|    6|   90|           96|   []|  null|   14|
|  8|  Hadrien|124|   124| 37|       22|  64|      64|         8|       747|                   722|   10|   93|           62|   []|  null|   14|
|  9|  Isadora|197|   197| 25|       18|  73|      73|        87|       699|                   571|    8|    1|           21|   []|  null|   14|
| 10|   Jasper| 86|    86| 47|       22|  96|      96|        98|       317|                   112|    1|   11|           95|   []|  null|   11|
| 11|     Kara|135|   135| 38|        2|  80|      80|        87|       379|                   200|   10|   16|           91|   []|  null|   11|
| 12|   Landon|170|   170| 43|       11|  20|      20|        61|       348|                   135|    7|   54|           95|   []|  null|   11|
| 13|    Malys|161|   161|  3|       17|  52|      52|         2|       927|                   547|    3|   63|           60|   []|  null|   11|
| 14|    Nolan|116|   116| 10|       17|  63|      63|        26|       707|                   511|    4|   43|           15|   []|  null|   11|
| 15|   Olivia| 98|    98| 19|       45|  34|      34|        42|       864|                   620|    1|   12|           10|   []|  null|   11|
| 16| Philemon|110|   110| 23|       36|  79|      79|        56|       451|                   409|    4|   12|           20|   []|  null| null|
| 17|  Quintus| 65|    65| 13|       49|  50|      50|        29|       208|                   577|    2|   78|           94|   []|  null| null|
| 18|  Raphael|175|   175| 44|       32|  14|      14|        24|       234|                   247|    6|   95|           19|   []|  null|   18|
| 19|  Saoirse| 55|    55|  2|       18|  16|      16|        14|         6|                   251|    2|   31|           72|   []|  null| null|
| 20| Thaddeus| 82|    82| 24|       33|  90|      90|        87|       677|                   858|    7|   34|           76|   []|  null| null|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
only showing top 20 rows

In [26]:
# Créer une nouvelle colonne avec la valeur mise à jour conditionnellement si hero.armor = 14 et armor.id inferieur a 5
updated_df = df_hero.withColumn('armor_updated', when((col('armor') == 14) & (col('id') < 5), 7).otherwise(col('armor')))


# Mettre à jour la colonne "armor" avec les valeurs de la colonne "armor_updated" et Supprimer la colonne "armor_updated" 
df_hero = armor_update_table(updated_df)

# Afficher le DataFrame mis à jour
df_hero.show()

+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
| id|     name| pv|max_pv|atk|atk_magik|mana|max_mana|initiative|experience|experience_to_level_up|level|speed|origine_speed|items|weapon|armor|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
|  1|     Aria| 99|    99| 25|       24|  44|      44|        12|       388|                   882|   10|   93|           40|   []|  null|    7|
|  2|Balthazar|192|   192| 19|       50|  97|      97|        12|       342|                   438|    4|   55|           59|   []|  null|    7|
|  3|Cassandra|189|   189| 26|        8|  73|      73|        30|       994|                   212|    8|   16|           72|   []|  null|    7|
|  4|   Darian|125|   125| 32|       43| 100|     100|        84|       217|                   665|    7|   28|            5|   []|  null|    7|
|  5|    Elena|199|   199| 26|        1|  87|      87|        35|       595|                   500|    1|   77|           65|   []|  null|   14|
|  6|    Felix|123|   123| 38|       46|  44|      44|        91|       189|                   315|    6|   54|           57|   []|  null|   14|
|  7|Gabrielle|191|   191|  4|       28|  10|      10|        51|       790|                   485|    6|   90|           96|   []|  null|   14|
|  8|  Hadrien|124|   124| 37|       22|  64|      64|         8|       747|                   722|   10|   93|           62|   []|  null|   14|
|  9|  Isadora|197|   197| 25|       18|  73|      73|        87|       699|                   571|    8|    1|           21|   []|  null|   14|
| 10|   Jasper| 86|    86| 47|       22|  96|      96|        98|       317|                   112|    1|   11|           95|   []|  null|   11|
| 11|     Kara|135|   135| 38|        2|  80|      80|        87|       379|                   200|   10|   16|           91|   []|  null|   11|
| 12|   Landon|170|   170| 43|       11|  20|      20|        61|       348|                   135|    7|   54|           95|   []|  null|   11|
| 13|    Malys|161|   161|  3|       17|  52|      52|         2|       927|                   547|    3|   63|           60|   []|  null|   11|
| 14|    Nolan|116|   116| 10|       17|  63|      63|        26|       707|                   511|    4|   43|           15|   []|  null|   11|
| 15|   Olivia| 98|    98| 19|       45|  34|      34|        42|       864|                   620|    1|   12|           10|   []|  null|   11|
| 16| Philemon|110|   110| 23|       36|  79|      79|        56|       451|                   409|    4|   12|           20|   []|  null| null|
| 17|  Quintus| 65|    65| 13|       49|  50|      50|        29|       208|                   577|    2|   78|           94|   []|  null| null|
| 18|  Raphael|175|   175| 44|       32|  14|      14|        24|       234|                   247|    6|   95|           19|   []|  null|   18|
| 19|  Saoirse| 55|    55|  2|       18|  16|      16|        14|         6|                   251|    2|   31|           72|   []|  null| null|
| 20| Thaddeus| 82|    82| 24|       33|  90|      90|        87|       677|                   858|    7|   34|           76|   []|  null| null|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
only showing top 20 rows

In [27]:
# Créer une nouvelle colonne avec la valeur mise à jour conditionnellement
updated_df = df_hero.withColumn('armor_updated', when((col('armor') == 18) , 'null' ).otherwise(col('armor')))


# Mettre à jour la colonne "armor" avec les valeurs de la colonne "armor_updated" et Supprimer la colonne "armor_updated" 
df_hero = armor_update_table(updated_df)

# Afficher le DataFrame mis à jour
df_hero.show(n=50)

+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
| id|     name| pv|max_pv|atk|atk_magik|mana|max_mana|initiative|experience|experience_to_level_up|level|speed|origine_speed|items|weapon|armor|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
|  1|     Aria| 99|    99| 25|       24|  44|      44|        12|       388|                   882|   10|   93|           40|   []|  null|    7|
|  2|Balthazar|192|   192| 19|       50|  97|      97|        12|       342|                   438|    4|   55|           59|   []|  null|    7|
|  3|Cassandra|189|   189| 26|        8|  73|      73|        30|       994|                   212|    8|   16|           72|   []|  null|    7|
|  4|   Darian|125|   125| 32|       43| 100|     100|        84|       217|                   665|    7|   28|            5|   []|  null|    7|
|  5|    Elena|199|   199| 26|        1|  87|      87|        35|       595|                   500|    1|   77|           65|   []|  null|   14|
|  6|    Felix|123|   123| 38|       46|  44|      44|        91|       189|                   315|    6|   54|           57|   []|  null|   14|
|  7|Gabrielle|191|   191|  4|       28|  10|      10|        51|       790|                   485|    6|   90|           96|   []|  null|   14|
|  8|  Hadrien|124|   124| 37|       22|  64|      64|         8|       747|                   722|   10|   93|           62|   []|  null|   14|
|  9|  Isadora|197|   197| 25|       18|  73|      73|        87|       699|                   571|    8|    1|           21|   []|  null|   14|
| 10|   Jasper| 86|    86| 47|       22|  96|      96|        98|       317|                   112|    1|   11|           95|   []|  null|   11|
| 11|     Kara|135|   135| 38|        2|  80|      80|        87|       379|                   200|   10|   16|           91|   []|  null|   11|
| 12|   Landon|170|   170| 43|       11|  20|      20|        61|       348|                   135|    7|   54|           95|   []|  null|   11|
| 13|    Malys|161|   161|  3|       17|  52|      52|         2|       927|                   547|    3|   63|           60|   []|  null|   11|
| 14|    Nolan|116|   116| 10|       17|  63|      63|        26|       707|                   511|    4|   43|           15|   []|  null|   11|
| 15|   Olivia| 98|    98| 19|       45|  34|      34|        42|       864|                   620|    1|   12|           10|   []|  null|   11|
| 16| Philemon|110|   110| 23|       36|  79|      79|        56|       451|                   409|    4|   12|           20|   []|  null| null|
| 17|  Quintus| 65|    65| 13|       49|  50|      50|        29|       208|                   577|    2|   78|           94|   []|  null| null|
| 18|  Raphael|175|   175| 44|       32|  14|      14|        24|       234|                   247|    6|   95|           19|   []|  null| null|
| 19|  Saoirse| 55|    55|  2|       18|  16|      16|        14|         6|                   251|    2|   31|           72|   []|  null| null|
| 20| Thaddeus| 82|    82| 24|       33|  90|      90|        87|       677|                   858|    7|   34|           76|   []|  null| null|
| 21|   Ursula|135|   135| 44|       37|  72|      72|        29|       314|                   740|    1|   20|           14|   []|  null|   14|
| 22| Valentin|176|   176| 43|       39|  17|      17|        10|       211|                   291|    7|   62|           46|   []|  null|   14|
| 23|  Wilhelm| 90|    90| 32|       23|  78|      78|        91|       296|                   101|    3|   71|           75|   []|  null|   14|
| 24|   Xander|197|   197| 14|       19|  49|      49|        29|       691|                   213|    4|   97|            0|   []|  null|   14|
| 25|     Yara| 85|    85| 27|       29|  21|      21|        88|       252|                   262|    4|   23|           43|   []|  null|   14|
| 26|   Zander| 95|    95|  8|       41|  66|      66|        20|       453|                   159|    7|   53|           34|   []|    26|   14|
| 27|    Aidan| 54|    54| 43|       30|  29|      29|        43|       283|                   379|    2|   67|           44|   []|  null|   14|
| 28|  Brianna|165|   165| 20|       48|  61|      61|         3|       473|                   858|    6|   13|           81|   []|  null|   14|
| 29|    Caleb|105|   105| 14|       12|  85|      85|        82|       752|                   376|    6|   31|           12|   []|  null|   14|
| 30|   Dahlia| 92|    92| 36|       19|  87|      87|        24|       781|                   944|    2|   10|           23|   []|  null|   14|
| 31|   Evelyn| 82|    82|  3|       44|   5|       5|        90|       908|                   279|    3|   37|           27|   []|  null|   14|
| 32| Finnegan|136|   136|  2|       29|   9|       9|        88|       101|                   161|    2|   44|           62|   []|  null|   14|
| 33|Gwendolyn|118|   118| 24|        8|  47|      47|        68|       623|                   786|    8|   14|           33|   []|  null|   14|
| 34|   Harvey|192|   192| 33|       50|  87|      87|        14|       313|                   972|    9|   27|           63|   []|  null|   14|
| 35|   Imogen|142|   142|  6|       32|  46|      46|        78|       692|                   562|    7|   74|           32|   []|  null|   14|
| 36|    Jaden| 79|    79| 19|        4|  23|      23|        21|       199|                   335|    4|   50|           10|   []|  null|   14|
| 37|   Kendra|136|   136|  9|       38|  13|      13|         3|       347|                   550|    6|   18|           93|   []|  null|   14|
| 38|     Liam| 53|    53| 48|       10|  30|      30|        66|        91|                   155|    1|    8|           48|   []|  null|   14|
| 39|  Matilda| 54|    54| 38|       29|  26|      26|        97|       410|                   514|    5|   74|           33|   []|  null|   14|
| 40|    Niamh|104|   104| 13|       43|  72|      72|        98|       155|                   258|    2|   57|           59|   []|  null|   14|
| 41|  Ophelia| 65|    65| 26|       27|  67|      67|        80|       377|                   639|   10|   15|           19|   []|  null|   14|
| 42| Percival|102|   102| 26|       33|  76|      76|        86|       999|                   694|    9|   11|            5|   []|  null|   14|
| 43|    Qiana|187|   187| 18|       18|  27|      27|        51|       240|                   627|    7|   34|           24|   []|  null|   14|
| 44|    Riley|195|   195| 50|       45|   3|       3|        95|       652|                   265|    2|   41|           28|   []|  null|   14|
| 45|Sebastian|157|   157| 24|       23|  26|      26|        69|        70|                   227|    3|   68|           57|   []|  null|   14|
| 46|  Tristan| 96|    96|  0|       42|  60|      60|        29|       584|                   702|   10|   38|            3|   []|  null|   14|
| 47|    Uriel|119|   119|  4|       42|  57|      57|        16|       953|                   757|    4|   22|           16|   []|  null|   14|
| 48|   Violet|178|   178| 12|       11|  91|      91|        26|       263|                   945|    6|   42|           88|   []|  null|   14|
| 49|    Wyatt| 79|    79| 46|       12|   6|       6|        43|       305|                   759|    2|   29|           55|   []|  null|   14|
| 50|  Xiomara|129|   129| 43|       15|  88|      88|        61|       385|                   837|    3|   71|           95|   []|  null|   14|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+

In [28]:
spark.sql(f'''SELECT * 
            FROM hero  
          ''').show()

df_hero.createOrReplaceTempView("hero")

spark.sql(f'''SELECT * 
            FROM hero  
          ''').show()

+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
| id|     name| pv|max_pv|atk|atk_magik|mana|max_mana|initiative|experience|experience_to_level_up|level|speed|origine_speed|items|weapon|armor|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
|  1|     Aria| 99|    99| 25|       24|  44|      44|        12|       388|                   882|   10|   93|           40|   []|  null| null|
|  2|Balthazar|192|   192| 19|       50|  97|      97|        12|       342|                   438|    4|   55|           59|   []|  null| null|
|  3|Cassandra|189|   189| 26|        8|  73|      73|        30|       994|                   212|    8|   16|           72|   []|  null| null|
|  4|   Darian|125|   125| 32|       43| 100|     100|        84|       217|                   665|    7|   28|            5|   []|  null| null|
|  5|    Elena|199|   199| 26|        1|  87|      87|        35|       595|                   500|    1|   77|           65|   []|  null| null|
|  6|    Felix|123|   123| 38|       46|  44|      44|        91|       189|                   315|    6|   54|           57|   []|  null| null|
|  7|Gabrielle|191|   191|  4|       28|  10|      10|        51|       790|                   485|    6|   90|           96|   []|  null| null|
|  8|  Hadrien|124|   124| 37|       22|  64|      64|         8|       747|                   722|   10|   93|           62|   []|  null| null|
|  9|  Isadora|197|   197| 25|       18|  73|      73|        87|       699|                   571|    8|    1|           21|   []|  null| null|
| 10|   Jasper| 86|    86| 47|       22|  96|      96|        98|       317|                   112|    1|   11|           95|   []|  null| null|
| 11|     Kara|135|   135| 38|        2|  80|      80|        87|       379|                   200|   10|   16|           91|   []|  null| null|
| 12|   Landon|170|   170| 43|       11|  20|      20|        61|       348|                   135|    7|   54|           95|   []|  null| null|
| 13|    Malys|161|   161|  3|       17|  52|      52|         2|       927|                   547|    3|   63|           60|   []|  null| null|
| 14|    Nolan|116|   116| 10|       17|  63|      63|        26|       707|                   511|    4|   43|           15|   []|  null| null|
| 15|   Olivia| 98|    98| 19|       45|  34|      34|        42|       864|                   620|    1|   12|           10|   []|  null| null|
| 16| Philemon|110|   110| 23|       36|  79|      79|        56|       451|                   409|    4|   12|           20|   []|  null| null|
| 17|  Quintus| 65|    65| 13|       49|  50|      50|        29|       208|                   577|    2|   78|           94|   []|  null| null|
| 18|  Raphael|175|   175| 44|       32|  14|      14|        24|       234|                   247|    6|   95|           19|   []|  null| null|
| 19|  Saoirse| 55|    55|  2|       18|  16|      16|        14|         6|                   251|    2|   31|           72|   []|  null| null|
| 20| Thaddeus| 82|    82| 24|       33|  90|      90|        87|       677|                   858|    7|   34|           76|   []|  null| null|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
only showing top 20 rows

+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
| id|     name| pv|max_pv|atk|atk_magik|mana|max_mana|initiative|experience|experience_to_level_up|level|speed|origine_speed|items|weapon|armor|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
|  1|     Aria| 99|    99| 25|       24|  44|      44|        12|       388|                   882|   10|   93|           40|   []|  null|    7|
|  2|Balthazar|192|   192| 19|       50|  97|      97|        12|       342|                   438|    4|   55|           59|   []|  null|    7|
|  3|Cassandra|189|   189| 26|        8|  73|      73|        30|       994|                   212|    8|   16|           72|   []|  null|    7|
|  4|   Darian|125|   125| 32|       43| 100|     100|        84|       217|                   665|    7|   28|            5|   []|  null|    7|
|  5|    Elena|199|   199| 26|        1|  87|      87|        35|       595|                   500|    1|   77|           65|   []|  null|   14|
|  6|    Felix|123|   123| 38|       46|  44|      44|        91|       189|                   315|    6|   54|           57|   []|  null|   14|
|  7|Gabrielle|191|   191|  4|       28|  10|      10|        51|       790|                   485|    6|   90|           96|   []|  null|   14|
|  8|  Hadrien|124|   124| 37|       22|  64|      64|         8|       747|                   722|   10|   93|           62|   []|  null|   14|
|  9|  Isadora|197|   197| 25|       18|  73|      73|        87|       699|                   571|    8|    1|           21|   []|  null|   14|
| 10|   Jasper| 86|    86| 47|       22|  96|      96|        98|       317|                   112|    1|   11|           95|   []|  null|   11|
| 11|     Kara|135|   135| 38|        2|  80|      80|        87|       379|                   200|   10|   16|           91|   []|  null|   11|
| 12|   Landon|170|   170| 43|       11|  20|      20|        61|       348|                   135|    7|   54|           95|   []|  null|   11|
| 13|    Malys|161|   161|  3|       17|  52|      52|         2|       927|                   547|    3|   63|           60|   []|  null|   11|
| 14|    Nolan|116|   116| 10|       17|  63|      63|        26|       707|                   511|    4|   43|           15|   []|  null|   11|
| 15|   Olivia| 98|    98| 19|       45|  34|      34|        42|       864|                   620|    1|   12|           10|   []|  null|   11|
| 16| Philemon|110|   110| 23|       36|  79|      79|        56|       451|                   409|    4|   12|           20|   []|  null| null|
| 17|  Quintus| 65|    65| 13|       49|  50|      50|        29|       208|                   577|    2|   78|           94|   []|  null| null|
| 18|  Raphael|175|   175| 44|       32|  14|      14|        24|       234|                   247|    6|   95|           19|   []|  null| null|
| 19|  Saoirse| 55|    55|  2|       18|  16|      16|        14|         6|                   251|    2|   31|           72|   []|  null| null|
| 20| Thaddeus| 82|    82| 24|       33|  90|      90|        87|       677|                   858|    7|   34|           76|   []|  null| null|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
only showing top 20 rows

In [29]:
spark.sql(f'''SELECT * 
            FROM hero
            WHERE armor IS NULL
          ''').show()

+---+--------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
| id|    name| pv|max_pv|atk|atk_magik|mana|max_mana|initiative|experience|experience_to_level_up|level|speed|origine_speed|items|weapon|armor|
+---+--------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
| 16|Philemon|110|   110| 23|       36|  79|      79|        56|       451|                   409|    4|   12|           20|   []|  null| null|
| 17| Quintus| 65|    65| 13|       49|  50|      50|        29|       208|                   577|    2|   78|           94|   []|  null| null|
| 19| Saoirse| 55|    55|  2|       18|  16|      16|        14|         6|                   251|    2|   31|           72|   []|  null| null|
| 20|Thaddeus| 82|    82| 24|       33|  90|      90|        87|       677|                   858|    7|   34|           76|   []|  null| null|
+---+--------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+

In [30]:
class Request_SQL:
    
    DFs = {}
    spark = SparkSession.builder.appName('Create_Hero').getOrCreate()

    def __init__(self, spark = "temp_spark", files = None, ):
        self.spark = SparkSession.builder.appName(spark).getOrCreate()
        self.read_files(files)
        
    def set_DFs(self, file_name):
        # print(self.get_name_file(file_name))
        if "csv" in file_name.split('.')[-1:]:
            self.DFs[self.get_name_file(file_name)] = spark.read.csv(f"assets/csv/{self.get_name_file(file_name)}.csv", header=True, inferSchema=True)
    
    def read_files(self, files): 
        
        if files is not None:            
            if isinstance(files, list):
                for key, val in enumerate(files):                 
                    self.set_DFs(val)
            else:                            
                self.set_DFs(files)                   
    
    
    #############################
    ########### UTILS ###########
    #############################
    def get_name_file(self, file):
        return file.split('.')[-2:-1:][0].split('/')[-1:][0]
    
    def print_DF(self, name):
        print(self.DFs[name], "\n")
                    
    def print_DFs(self):
        for key,  df in self.DFs.items():
            print(df, "\n")
    
    def print_names_DFs(self):
        for df in self.DFs:
            print(df, "\n")
            
    def print_table(self, name):
        print(self.spark.table(name), "\n")
                    
    def print_tables(self):
        for table in spark.catalog.listTables():
            print(table, "\n")
            

                    
    # def select(self, columns = '*', table, ):

In [31]:
# "assets/csv/hero.csv".split('.')[-2:-1:][0].split('/')[-1:][0]

In [32]:
request = Request_SQL(spark = "temp_hero_test", files = ["hero.csv", "armor.csv", "weapon.csv"])

request.print_DFs()
print("\n")
request.print_DF("hero")
request.print_tables()
request.print_table("hero")
request.print_names_DFs()

DataFrame[id: int, name: string, pv: int, max_pv: int, atk: int, atk_magik: int, mana: int, max_mana: int, initiative: int, experience: int, experience_to_level_up: int, level: int, speed: int, origine_speed: int, items: string, weapon: int, armor: string]

DataFrame[id: int, name: string, armor: int, armor_magik: int, mana: int, durability: int, max_durability: int, broken: boolean]

DataFrame[id: int, name: string, atk: int, atk_magik: int, mana: int, mana_cost: int, durability: int, max_durability: int, broken: boolean]



DataFrame[id: int, name: string, pv: int, max_pv: int, atk: int, atk_magik: int, mana: int, max_mana: int, initiative: int, experience: int, experience_to_level_up: int, level: int, speed: int, origine_speed: int, items: string, weapon: int, armor: string]

Table(name='armor', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)

Table(name='hero', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)

Table(name='weapon', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)

DataFrame[id: int, name: string, pv: int, max_pv: int, atk: int, atk_magik: int, mana: int, max_mana: int, initiative: int, experience: int, experience_to_level_up: int, level: int, speed: int, origine_speed: int, items: string, weapon: int, armor: string]

hero

armor

weapon

In [33]:
request.print_names_DFs()

hero

armor

weapon

In [40]:
request.spark.sql('''
                SELECT armor.id as armor_id, armor.name as armor_name, hero.id as hero_id, hero.name as hero_name, weapon.id as weapon_id, weapon.name as weapon_name
                FROM hero
                JOIN armor on hero.id = armor.id
                JOIN weapon on armor.id = weapon.id
''').show()

+--------+-----------------+-------+---------+---------+--------------------+
|armor_id|       armor_name|hero_id|hero_name|weapon_id|         weapon_name|
+--------+-----------------+-------+---------+---------+--------------------+
|       1|   Armure de cuir|      1|     Aria|        1|       pe de cristal|
|       2|    Armure de fer|      2|Balthazar|        2|     Hache de guerre|
|       3| Armure de plaque|      3|Cassandra|        3|         Bton de feu|
|       4|Armure de mailles|      4|   Darian|        4|    Dague empoisonne|
|       5|  Armure de glace|      5|    Elena|        5|            Arc long|
|       6|      Armure d'os|      6|    Felix|        6|       Masse d'armes|
|       7| Armure d'cailles|      7|Gabrielle|        7|      Lance d'argent|
|       8| Armure de dragon|      8|  Hadrien|        8|    Baguette magique|
|       9| Armure de lumire|      9|  Isadora|        9|             Gourdin|
|      10| Armure de tnbres|     10|   Jasper|       10|              Katana|
|      11|Armure de cristal|     11|     Kara|       11|     Fouet de combat|
|      12|Armure de mithril|     12|   Landon|       12|Fleuret du duelliste|
|      13|Armure de diamant|     13|    Malys|       13|   Marteau de guerre|
|      14|    Armure de feu|     14|    Nolan|       14|              Glaive|
|      15| Armure de foudre|     15|   Olivia|       15|              Rapire|
|      16|  Armure de glace|     16| Philemon|       16|             Arbalte|
|      17|   Armure de vent|     17|  Quintus|       17|          Hallebarde|
|      18|  Armure de l'eau|     18|  Raphael|       18|   Gantelet de force|
|      19|  Armure de terre|     19|  Saoirse|       19|       Canne de mage|
|      20|  Armure de roche|     20| Thaddeus|       20|  Livre de sortilges|
+--------+-----------------+-------+---------+---------+--------------------+
only showing top 20 rows

In [46]:
# Créer une nouvelle colonne avec la valeur mise à jour conditionnellement
updated_df = df_hero.withColumn('armor_updated', when((col('armor') == 6) , 'null' ).otherwise(col('armor')))


# Mettre à jour la colonne "armor" avec les valeurs de la colonne "armor_updated" et Supprimer la colonne "armor_updated"
df_hero = armor_update_table(updated_df)
df_hero.createOrReplaceTempView("hero")
request.spark.sql('''
                SELECT armor.id as armor_id, armor.name as armor_name, hero.id as hero_id, hero.name as hero_name
                FROM hero
                JOIN armor on hero.armor = armor.id
''').show()

+--------+-----------------+-------+---------+
|armor_id|       armor_name|hero_id|hero_name|
+--------+-----------------+-------+---------+
|       7| Armure d'cailles|      1|     Aria|
|       7| Armure d'cailles|      2|Balthazar|
|       7| Armure d'cailles|      3|Cassandra|
|       7| Armure d'cailles|      4|   Darian|
|      14|    Armure de feu|      5|    Elena|
|      14|    Armure de feu|      6|    Felix|
|      14|    Armure de feu|      7|Gabrielle|
|      14|    Armure de feu|      8|  Hadrien|
|      14|    Armure de feu|      9|  Isadora|
|      11|Armure de cristal|     10|   Jasper|
|      11|Armure de cristal|     11|     Kara|
|      11|Armure de cristal|     12|   Landon|
|      11|Armure de cristal|     13|    Malys|
|      11|Armure de cristal|     14|    Nolan|
|      11|Armure de cristal|     15|   Olivia|
|      14|    Armure de feu|     21|   Ursula|
|      14|    Armure de feu|     22| Valentin|
|      14|    Armure de feu|     23|  Wilhelm|
|      14|    Armure de feu|     24|   Xander|
|      14|    Armure de feu|     25|     Yara|
+--------+-----------------+-------+---------+
only showing top 20 rows

In [65]:
def generate_join_clause(column_names):
    table_aliases = set()
    join_clause = ''

    for column_name in column_names:
        if '.' in column_name:
            table_name, _ = column_name.split('.', 1)
            table_aliases.add(table_name)

    for table_alias in table_aliases:
        join_clause += f'JOIN {table_alias} ON hero.{table_alias}_id = {table_alias}.{table_alias}_id '

    return join_clause

In [66]:
column_names = ['armor_id', 'armor_name', 'armor_armor', 'armor_armor_magik', 'armor_mana', 'armor_durability', 'armor_max_durability', 'armor_broken', 'hero_id', 'hero_name', 'hero_pv', 'hero_max_pv', 'hero_atk', 'hero_atk_magik', 'hero_mana', 'hero_max_mana', 'hero_initiative', 'hero_experience', 'hero_experience_to_level_up', 'hero_level', 'hero_speed', 'hero_origine_speed', 'hero_items', 'hero_weapon', 'hero_armor', 'weapon_id', 'weapon_name', 'weapon_atk', 'weapon_atk_magik', 'weapon_mana', 'weapon_mana_cost', 'weapon_durability', 'weapon_max_durability', 'weapon_broken']

join_clause = generate_join_clause(column_names)
print(join_clause)

In [68]:
import requests

url = "https://raw.githubusercontent.com/MicrosoftLearning/dp-203-azure-data-engineer/master/Allfiles/labs/23/adventureworks/products.csv"
local_file_path = "products.csv"

# Télécharger le fichier CSV depuis l'URL
response = requests.get(url)
response.raise_for_status()

# Enregistrer le contenu dans un fichier local
with open(local_file_path, "wb") as file:
    file.write(response.content)

print("Le fichier CSV a été téléchargé et enregistré avec succès.")

Le fichier CSV a été téléchargé et enregistré avec succès.