In [1]:
# !pip install mysql-connector-python
# !pip install pyspark

In [2]:
import mysql.connector
from pyspark.sql import SparkSession
import csv
import random
from pyspark.sql.functions import lit, col, when

In [3]:
# mydb = mysql.connector.connect(
#   host="localhost",
#   user="root",
#   password="",
#   database="spark_train_one"
# )

In [4]:
class ToDictMixin:
    def to_dict(self):
        return {k: v for k, v in vars(self).items() if not k.startswith("__")}

In [5]:
class Armor(ToDictMixin):
    
    id_counter = 1
    
    def __init__(self, name: str, armor: int = 1, armor_magik: int = 0, mana: int = 0,
                 durability: int = 5, max_durability: int = None):
        self.id = Armor.id_counter
        Armor.id_counter += 1
        self.name = name
        self.armor = armor
        self.armor_magik = armor_magik
        self.mana = mana
        self.durability = durability
        self.max_durability = max_durability if max_durability is not None else durability
        self.broken = False

In [6]:
class Weapon(ToDictMixin):
    
    id_counter = 1
    
    def __init__(self, name: str, atk: int = 1, atk_magik: int = 0, mana: int = 0,
                 mana_cost: int = 1, durability: int = 5, max_durability: int = None):
        self.id = Weapon.id_counter
        Weapon.id_counter += 1
        self.name = name
        self.atk = atk
        self.atk_magik = atk_magik
        self.mana = mana
        self.mana_cost = mana_cost
        self.durability = durability
        self.max_durability = max_durability if max_durability is not None else durability
        self.broken = False

In [7]:
class Hero(ToDictMixin):
    
    id_counter = 1
    
    
    
    def __init__(self, name: str, pv: int, max_pv: int = None, atk: int = None, atk_magik: int = None, 
                 mana: int = None, max_mana: int = None, initiative: int = None, experience: int = None, 
                 experience_to_level_up: int = None, level: int = None, speed: int = None, origine_speed: int = None):
        self.id = Hero.id_counter
        Hero.id_counter += 1
        self.name = name
        self.pv = pv
        self.max_pv = max_pv if max_pv is not None else pv
        self.atk = atk if atk is not None else 0
        self.atk_magik = atk_magik if atk_magik is not None else 0
        self.mana = mana if mana is not None else 0
        self.max_mana = max_mana if max_mana is not None else mana
        self.initiative = initiative if initiative is not None else 0
        self.experience = experience if experience is not None else 0
        self.experience_to_level_up = experience_to_level_up if experience_to_level_up is not None else 100
        self.level = level if level is not None else 1
        self.speed = speed if speed is not None else 0
        self.origine_speed = origine_speed if origine_speed is not None else 0
        self.items = []
        self.weapon : Weapon | None = None
        self.armor : Armor | None = None
    
    
    def equip_weapon(self, weapon):
        if isinstance(weapon, Weapon) :
            self.weapon = weapon.id
            return True
        return False
        
    def equip_armor(self, armor):
        if isinstance(armor, Armor) :
            self.armor = armor.id
            return True
        return False
    
    def add_item(self, item):
        if isinstance(armor, Item) :
            self.items.append(item.id) 
            return True
        return False

In [8]:
noms_personnages = [
    "Aria", "Balthazar", "Cassandra", "Darian", "Elena", "Felix", "Gabrielle", "Hadrien",
    "Isadora", "Jasper", "Kaïra", "Landon", "Maïlys", "Nolan", "Olivia", "Philemon",
    "Quintus", "Raphael", "Saoirse", "Thaddeus", "Ursula", "Valentin", "Wilhelm", "Xander",
    "Yara", "Zander", "Aidan", "Brianna", "Caleb", "Dahlia", "Evelyn", "Finnegan", "Gwendolyn",
    "Harvey", "Imogen", "Jaden", "Kendra", "Liam", "Matilda", "Niamh", "Ophelia", "Percival",
    "Qiana", "Riley", "Sebastian", "Tristan", "Uriel", "Violet", "Wyatt", "Xiomara", "Yvette", "Zelda"
]
noms_armors = [
    "Armure de cuir", "Armure de fer", "Armure de plaque", "Armure de mailles", "Armure de glace",
    "Armure d'os", "Armure d'écailles", "Armure de dragon", "Armure de lumière", "Armure de ténèbres",
    "Armure de cristal", "Armure de mithril", "Armure de diamant", "Armure de feu", "Armure de foudre",
    "Armure de glace", "Armure de vent", "Armure de l'eau", "Armure de terre", "Armure de roche",
    "Armure de bois", "Armure de métal", "Armure de magma", "Armure de néant", "Armure de luminescence",
    "Armure de brume", "Armure de tempête", "Armure de mort", "Armure de vie", "Armure de guérison",
    "Armure de force", "Armure de sagesse", "Armure de chance", "Armure de la nature", "Armure des anges",
    "Armure des démons", "Armure des héros", "Armure des rois", "Armure des elfes", "Armure des nains",
    "Armure des gnomes", "Armure des orcs", "Armure des gobelins", "Armure des trolls", "Armure des géants",
    "Armure de lave", "Armure de lumière divine", "Armure de l'ombre", "Armure de l'océan", "Armure des vents",
    "Armure des montagnes"
]
noms_weapons = [
    "Épée de cristal", "Hache de guerre", "Bâton de feu", "Dague empoisonnée", "Arc long",
    "Masse d'armes", "Lance d'argent", "Baguette magique", "Gourdin", "Katana",
    "Fouet de combat", "Fleuret du duelliste", "Marteau de guerre", "Glaive", "Rapière",
    "Arbalète", "Hallebarde", "Gantelet de force", "Canne de mage", "Livre de sortilèges",
    "Fléau", "Arc court", "Cimeterre", "Couteau de lancer", "Poignard",
    "Épée bâtarde", "Hache double", "Bâton de glace", "Dague runique", "Arc de chasse",
    "Marteau de Thor", "Lance de la foudre", "Baguette d'illusion", "Gourdin épineux", "Wakizashi",
    "Fouet barbelé", "Épée courte", "Marteau-piqueur", "Glaive du serpent", "Rapière en argent",
    "Arbalète à répétition", "Hallebarde du jugement", "Gantelet du titan", "Canne à feu", "Livre de connaissances",
    "Fléau des ténèbres", "Arc de la lune noire", "Cimeterre démoniaque", "Couteau de jet empoisonné", "Poignard de l'ombre",
]

In [9]:
# Génération de 50 personnages, armors et weapons aléatoires
hero_list = []
armor_list = []
weapon_list = []
for i in range(50):
    hero = Hero(name=noms_personnages[i], pv=random.randint(50, 200), atk=random.randint(0, 50), atk_magik=random.randint(0, 50), 
                mana=random.randint(0, 100), initiative=random.randint(0, 100), experience=random.randint(0, 1000), 
                experience_to_level_up=random.randint(100, 1000), level=random.randint(1, 10), speed=random.randint(0, 100), 
                origine_speed=random.randint(0, 100))
    hero_list.append(hero)
    
    armor = Armor(name=noms_armors[i], armor=random.randint(1, 10), armor_magik=random.randint(0, 5),
                  mana=random.randint(0, 5), durability=random.randint(1, 10),
                  max_durability=random.randint(10, 20))
    armor_list.append(armor)

    weapon = Weapon(name=noms_weapons[i], atk=random.randint(1, 10), atk_magik=random.randint(0, 5),
                    mana=random.randint(0, 5), mana_cost=random.randint(1, 5),
                    durability=random.randint(1, 10), max_durability=random.randint(10, 20))
    weapon_list.append(weapon)
    
hero_attribute_names = list(hero_list[0].to_dict().keys())
armor_attribute_names = list(armor_list[0].to_dict().keys())
weapon_attribute_names = list(weapon_list[0].to_dict().keys())
hero_list[25].equip_weapon(weapon_list[25])
print(hero_attribute_names)
print(armor_attribute_names)
print(weapon_attribute_names)

['id', 'name', 'pv', 'max_pv', 'atk', 'atk_magik', 'mana', 'max_mana', 'initiative', 'experience', 'experience_to_level_up', 'level', 'speed', 'origine_speed', 'items', 'weapon', 'armor']
['id', 'name', 'armor', 'armor_magik', 'mana', 'durability', 'max_durability', 'broken']
['id', 'name', 'atk', 'atk_magik', 'mana', 'mana_cost', 'durability', 'max_durability', 'broken']

In [10]:
# Écriture de la table dans un fichier CSV
def csv_geenerator(path, items_list):
    with open(path, mode="w", newline='') as file:
        fieldnames = list(items_list[0].to_dict().keys())
        writer = csv.DictWriter(file, fieldnames=fieldnames)
        writer.writeheader()
        for item in items_list:
            writer.writerow({k: v.encode('utf-8').decode('ascii', 'ignore') if isinstance(v, str) else v for k, v in item.to_dict().items()})

In [11]:
csv_geenerator("assets/csv/hero.csv", hero_list)
csv_geenerator("assets/csv/armor.csv", armor_list)
csv_geenerator("assets/csv/weapon.csv", weapon_list)

In [12]:
# mycursor = mydb.cursor()

# mycursor.execute("SELECT * FROM yourtable")

# myresult = mycursor.fetchall()

# for x in myresult:
#   print(x)


spark = SparkSession.builder.appName('Create_Hero').getOrCreate()

df_hero = spark.read.csv("assets/csv/hero.csv", header=True, inferSchema=True)
df_armor = spark.read.csv("assets/csv/armor.csv", header=True, inferSchema=True)
df_weapon = spark.read.csv("assets/csv/weapon.csv", header=True, inferSchema=True)

In [13]:
# Affichage des données du DataFrame
df_hero.show()
df_armor.show()
df_weapon.show()
# Création d'une vue temporaire à partir du DataFrame
df_hero.createOrReplaceTempView("hero")
df_armor.createOrReplaceTempView("armor")
df_weapon.createOrReplaceTempView("weapon")

+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
| id|     name| pv|max_pv|atk|atk_magik|mana|max_mana|initiative|experience|experience_to_level_up|level|speed|origine_speed|items|weapon|armor|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
|  1|     Aria|195|   195| 13|       14|   5|       5|        54|       582|                   103|    9|   48|           96|   []|  null| null|
|  2|Balthazar|112|   112| 40|        6|  63|      63|        28|       237|                   587|    2|   83|           60|   []|  null| null|
|  3|Cassandra|160|   160| 17|        7|  60|      60|        96|        23|                   881|    7|   18|           53|   []|  null| null|
|  4|   Darian|132|   132| 15|       46|  13|      13|        87|       432|                   444|    2|   23|           17|   []|  null| null|
|  5|    Elena|139|   139| 17|       10|  28|      28|        32|       671|                   262|    6|   93|            6|   []|  null| null|
|  6|    Felix|144|   144| 42|       30|  91|      91|        21|       745|                   415|    2|   66|            6|   []|  null| null|
|  7|Gabrielle|138|   138|  5|       48|  89|      89|        72|       285|                   164|    8|   12|           76|   []|  null| null|
|  8|  Hadrien| 70|    70| 23|        6|  51|      51|        33|       248|                   573|   10|   60|           23|   []|  null| null|
|  9|  Isadora|156|   156| 45|       10|  80|      80|        17|       394|                   114|    3|   12|           25|   []|  null| null|
| 10|   Jasper|109|   109| 21|        1|  10|      10|        22|        50|                   320|    5|   35|            7|   []|  null| null|
| 11|     Kara|156|   156| 19|       31|  90|      90|         8|       216|                   566|    1|   23|           79|   []|  null| null|
| 12|   Landon| 86|    86| 23|       20|  18|      18|         2|        86|                   516|    4|   29|           59|   []|  null| null|
| 13|    Malys|146|   146| 42|       37|  22|      22|         6|       149|                   508|    6|   98|           85|   []|  null| null|
| 14|    Nolan| 91|    91| 33|       33|  19|      19|        86|        89|                   291|    5|   18|            8|   []|  null| null|
| 15|   Olivia|191|   191|  4|       33|  62|      62|        30|       655|                   414|    3|   55|           38|   []|  null| null|
| 16| Philemon|106|   106| 21|       23|  17|      17|        70|       809|                   325|    1|   27|           60|   []|  null| null|
| 17|  Quintus|117|   117| 23|        9|  17|      17|        89|       632|                   269|    2|   80|          100|   []|  null| null|
| 18|  Raphael|122|   122| 21|       26|  14|      14|        71|       704|                   287|    8|   16|           39|   []|  null| null|
| 19|  Saoirse|104|   104| 38|       41|  46|      46|        78|       722|                   130|    5|   80|           44|   []|  null| null|
| 20| Thaddeus| 75|    75|  2|       32|  20|      20|        38|       458|                   417|    1|   64|            8|   []|  null| null|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
only showing top 20 rows

+---+-----------------+-----+-----------+----+----------+--------------+------+
| id|             name|armor|armor_magik|mana|durability|max_durability|broken|
+---+-----------------+-----+-----------+----+----------+--------------+------+
|  1|   Armure de cuir|    2|          4|   3|         9|            16| false|
|  2|    Armure de fer|    1|          2|   2|         9|            13| false|
|  3| Armure de plaque|    5|          3|   1|         1|            13| false|
|  4|Armure de mailles|    8|          5|   3|         1|            18| false|
|  5|  Armure de glace|    3|          4|   2|         2|            16| false|
|  6|      Armure d'os|    3|          3|   3|         1|            18| false|
|  7| Armure d'cailles|    2|          4|   3|         4|            19| false|
|  8| Armure de dragon|    2|          4|   3|         5|            17| false|
|  9| Armure de lumire|    7|          0|   3|         1|            16| false|
| 10| Armure de tnbres|    5|          4|   5|         6|            14| false|
| 11|Armure de cristal|    8|          5|   0|         3|            11| false|
| 12|Armure de mithril|    1|          1|   2|         8|            15| false|
| 13|Armure de diamant|    4|          3|   1|         5|            10| false|
| 14|    Armure de feu|    3|          0|   2|         2|            19| false|
| 15| Armure de foudre|    7|          2|   1|         6|            18| false|
| 16|  Armure de glace|    7|          5|   4|         7|            20| false|
| 17|   Armure de vent|    6|          4|   4|         1|            15| false|
| 18|  Armure de l'eau|    7|          0|   5|         8|            14| false|
| 19|  Armure de terre|    2|          2|   5|         1|            15| false|
| 20|  Armure de roche|    6|          3|   3|         2|            10| false|
+---+-----------------+-----+-----------+----+----------+--------------+------+
only showing top 20 rows

+---+--------------------+---+---------+----+---------+----------+--------------+------+
| id|                name|atk|atk_magik|mana|mana_cost|durability|max_durability|broken|
+---+--------------------+---+---------+----+---------+----------+--------------+------+
|  1|       pe de cristal|  9|        1|   3|        4|        10|            11| false|
|  2|     Hache de guerre|  6|        0|   3|        4|         6|            17| false|
|  3|         Bton de feu| 10|        4|   3|        2|         5|            20| false|
|  4|    Dague empoisonne|  7|        4|   1|        3|         1|            11| false|
|  5|            Arc long|  2|        2|   4|        1|         5|            13| false|
|  6|       Masse d'armes|  3|        3|   2|        5|         5|            11| false|
|  7|      Lance d'argent|  7|        0|   1|        2|         2|            16| false|
|  8|    Baguette magique|  5|        2|   3|        3|         9|            17| false|
|  9|             Gourdin|  1|        5|   4|        2|         2|            12| false|
| 10|              Katana|  2|        4|   1|        5|         6|            15| false|
| 11|     Fouet de combat|  8|        2|   2|        5|         2|            13| false|
| 12|Fleuret du duelliste|  5|        3|   2|        5|         4|            12| false|
| 13|   Marteau de guerre|  6|        5|   1|        1|         3|            11| false|
| 14|              Glaive|  5|        5|   3|        4|         6|            19| false|
| 15|              Rapire|  9|        5|   0|        5|         7|            12| false|
| 16|             Arbalte|  9|        4|   4|        5|         5|            15| false|
| 17|          Hallebarde|  7|        2|   3|        3|         5|            15| false|
| 18|   Gantelet de force|  2|        5|   3|        1|         2|            12| false|
| 19|       Canne de mage|  4|        0|   2|        5|         5|            19| false|
| 20|  Livre de sortilges|  8|        1|   2|        2|         4|            20| false|
+---+--------------------+---+---------+----+---------+----------+--------------+------+
only showing top 20 rows

In [14]:
print(spark.catalog.listTables())

[Table(name='armor', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True), Table(name='hero', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True), Table(name='weapon', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

In [15]:

# Exécution d'une requête SQL pour sélectionner les héros avec plus de 100 points de vie
result = spark.sql("SELECT * FROM hero WHERE pv > 100")

# Affichage des résultats
result.show(n=500, truncate=False)

+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
|id |name     |pv |max_pv|atk|atk_magik|mana|max_mana|initiative|experience|experience_to_level_up|level|speed|origine_speed|items|weapon|armor|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
|1  |Aria     |195|195   |13 |14       |5   |5       |54        |582       |103                   |9    |48   |96           |[]   |null  |null |
|2  |Balthazar|112|112   |40 |6        |63  |63      |28        |237       |587                   |2    |83   |60           |[]   |null  |null |
|3  |Cassandra|160|160   |17 |7        |60  |60      |96        |23        |881                   |7    |18   |53           |[]   |null  |null |
|4  |Darian   |132|132   |15 |46       |13  |13      |87        |432       |444                   |2    |23   |17           |[]   |null  |null |
|5  |Elena    |139|139   |17 |10       |28  |28      |32        |671       |262                   |6    |93   |6            |[]   |null  |null |
|6  |Felix    |144|144   |42 |30       |91  |91      |21        |745       |415                   |2    |66   |6            |[]   |null  |null |
|7  |Gabrielle|138|138   |5  |48       |89  |89      |72        |285       |164                   |8    |12   |76           |[]   |null  |null |
|9  |Isadora  |156|156   |45 |10       |80  |80      |17        |394       |114                   |3    |12   |25           |[]   |null  |null |
|10 |Jasper   |109|109   |21 |1        |10  |10      |22        |50        |320                   |5    |35   |7            |[]   |null  |null |
|11 |Kara     |156|156   |19 |31       |90  |90      |8         |216       |566                   |1    |23   |79           |[]   |null  |null |
|13 |Malys    |146|146   |42 |37       |22  |22      |6         |149       |508                   |6    |98   |85           |[]   |null  |null |
|15 |Olivia   |191|191   |4  |33       |62  |62      |30        |655       |414                   |3    |55   |38           |[]   |null  |null |
|16 |Philemon |106|106   |21 |23       |17  |17      |70        |809       |325                   |1    |27   |60           |[]   |null  |null |
|17 |Quintus  |117|117   |23 |9        |17  |17      |89        |632       |269                   |2    |80   |100          |[]   |null  |null |
|18 |Raphael  |122|122   |21 |26       |14  |14      |71        |704       |287                   |8    |16   |39           |[]   |null  |null |
|19 |Saoirse  |104|104   |38 |41       |46  |46      |78        |722       |130                   |5    |80   |44           |[]   |null  |null |
|21 |Ursula   |177|177   |16 |34       |63  |63      |99        |158       |792                   |6    |36   |28           |[]   |null  |null |
|23 |Wilhelm  |165|165   |10 |44       |11  |11      |38        |916       |228                   |10   |97   |65           |[]   |null  |null |
|24 |Xander   |179|179   |12 |37       |47  |47      |25        |198       |401                   |1    |97   |96           |[]   |null  |null |
|25 |Yara     |122|122   |37 |45       |28  |28      |42        |561       |990                   |10   |68   |51           |[]   |null  |null |
|26 |Zander   |175|175   |1  |38       |77  |77      |61        |180       |454                   |2    |93   |41           |[]   |26    |null |
|27 |Aidan    |168|168   |10 |20       |13  |13      |31        |109       |600                   |3    |72   |9            |[]   |null  |null |
|28 |Brianna  |179|179   |14 |40       |75  |75      |27        |664       |626                   |9    |69   |45           |[]   |null  |null |
|30 |Dahlia   |167|167   |41 |43       |66  |66      |13        |634       |725                   |1    |72   |87           |[]   |null  |null |
|33 |Gwendolyn|189|189   |12 |9        |24  |24      |79        |968       |290                   |7    |48   |26           |[]   |null  |null |
|34 |Harvey   |186|186   |42 |28       |18  |18      |26        |778       |302                   |4    |22   |65           |[]   |null  |null |
|35 |Imogen   |196|196   |4  |3        |30  |30      |49        |543       |825                   |9    |25   |34           |[]   |null  |null |
|37 |Kendra   |179|179   |31 |29       |16  |16      |75        |919       |206                   |1    |92   |74           |[]   |null  |null |
|38 |Liam     |174|174   |2  |18       |20  |20      |48        |286       |847                   |8    |31   |50           |[]   |null  |null |
|39 |Matilda  |183|183   |25 |7        |36  |36      |38        |798       |233                   |5    |68   |8            |[]   |null  |null |
|40 |Niamh    |155|155   |8  |6        |61  |61      |36        |521       |200                   |4    |17   |86           |[]   |null  |null |
|41 |Ophelia  |180|180   |18 |31       |59  |59      |56        |504       |266                   |9    |93   |72           |[]   |null  |null |
|42 |Percival |157|157   |46 |17       |51  |51      |35        |899       |761                   |1    |17   |20           |[]   |null  |null |
|43 |Qiana    |111|111   |9  |36       |47  |47      |36        |826       |980                   |4    |56   |64           |[]   |null  |null |
|44 |Riley    |102|102   |26 |44       |56  |56      |2         |308       |945                   |6    |22   |21           |[]   |null  |null |
|45 |Sebastian|124|124   |16 |40       |77  |77      |51        |608       |240                   |10   |76   |83           |[]   |null  |null |
|46 |Tristan  |124|124   |46 |10       |34  |34      |98        |925       |138                   |2    |31   |47           |[]   |null  |null |
|47 |Uriel    |104|104   |44 |43       |28  |28      |24        |31        |458                   |2    |76   |92           |[]   |null  |null |
|50 |Xiomara  |181|181   |34 |28       |16  |16      |99        |899       |815                   |6    |60   |82           |[]   |null  |null |
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+

In [16]:
for table in spark.catalog.listTables():
    print(table)

Table(name='armor', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)
Table(name='hero', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)
Table(name='weapon', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)

In [17]:
weapon_column = spark.sql(f'''SELECT weapon FROM hero 
                             WHERE weapon IS NOT NULL
                          ''').collect()

for row in weapon_column:
    print(row[0])

26

In [18]:

spark.sql(f'''SELECT * FROM weapon 
            WHERE weapon.name LIKE '%btarde%'
          ''').show()

spark.sql(f'''SELECT * FROM weapon 
            WHERE weapon.id == 26
          ''').show()

spark.sql(f'''SELECT * FROM hero 
            JOIN weapon on hero.weapon = weapon.id
          ''').show()

spark.sql(f'''SELECT weapon.* FROM hero 
            JOIN weapon on hero.weapon = weapon.id
          ''').show()

+---+---------+---+---------+----+---------+----------+--------------+------+
| id|     name|atk|atk_magik|mana|mana_cost|durability|max_durability|broken|
+---+---------+---+---------+----+---------+----------+--------------+------+
| 26|pe btarde|  9|        1|   2|        5|         3|            10| false|
+---+---------+---+---------+----+---------+----------+--------------+------+

+---+---------+---+---------+----+---------+----------+--------------+------+
| id|     name|atk|atk_magik|mana|mana_cost|durability|max_durability|broken|
+---+---------+---+---------+----+---------+----------+--------------+------+
| 26|pe btarde|  9|        1|   2|        5|         3|            10| false|
+---+---------+---+---------+----+---------+----------+--------------+------+

+---+------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+---+---------+---+---------+----+---------+----------+--------------+------+
| id|  name| pv|max_pv|atk|atk_magik|mana|max_mana|initiative|experience|experience_to_level_up|level|speed|origine_speed|items|weapon|armor| id|     name|atk|atk_magik|mana|mana_cost|durability|max_durability|broken|
+---+------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+---+---------+---+---------+----+---------+----------+--------------+------+
| 26|Zander|175|   175|  1|       38|  77|      77|        61|       180|                   454|    2|   93|           41|   []|    26| null| 26|pe btarde|  9|        1|   2|        5|         3|            10| false|
+---+------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+---+---------+---+---------+----+---------+----------+--------------+------+

+---+---------+---+---------+----+---------+----------+--------------+------+
| id|     name|atk|atk_magik|mana|mana_cost|durability|max_durability|broken|
+---+---------+---+---------+----+---------+----------+--------------+------+
| 26|pe btarde|  9|        1|   2|        5|         3|            10| false|
+---+---------+---+---------+----+---------+----------+--------------+------+

In [19]:
spark.sql(f'''SELECT * 
            FROM hero 
            JOIN weapon ON hero.weapon = weapon.id
            WHERE hero.weapon IS NOT NULL
          ''').show()

+---+------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+---+---------+---+---------+----+---------+----------+--------------+------+
| id|  name| pv|max_pv|atk|atk_magik|mana|max_mana|initiative|experience|experience_to_level_up|level|speed|origine_speed|items|weapon|armor| id|     name|atk|atk_magik|mana|mana_cost|durability|max_durability|broken|
+---+------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+---+---------+---+---------+----+---------+----------+--------------+------+
| 26|Zander|175|   175|  1|       38|  77|      77|        61|       180|                   454|    2|   93|           41|   []|    26| null| 26|pe btarde|  9|        1|   2|        5|         3|            10| false|
+---+------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+---+---------+---+---------+----+---------+----------+--------------+------+

In [20]:
weapon_cols = [f"concat_ws('_', 'weapon') as weapon_{col}" for col in  spark.table("weapon").columns]
weapon_cols_str = ", ".join(weapon_cols)
weapon_cols_str

"concat_ws('_', 'weapon') as weapon_id, concat_ws('_', 'weapon') as weapon_name, concat_ws('_', 'weapon') as weapon_atk, concat_ws('_', 'weapon') as weapon_atk_magik, concat_ws('_', 'weapon') as weapon_mana, concat_ws('_', 'weapon') as weapon_mana_cost, concat_ws('_', 'weapon') as weapon_durability, concat_ws('_', 'weapon') as weapon_max_durability, concat_ws('_', 'weapon') as weapon_broken"

In [21]:

query = f"""
    SELECT hero.*, {weapon_cols_str}
    FROM hero
    JOIN weapon ON hero.weapon = weapon.id
    WHERE hero.weapon IS NOT NULL
"""

print(query)
spark.sql(query).show()

    SELECT hero.*, concat_ws('_', 'weapon') as weapon_id, concat_ws('_', 'weapon') as weapon_name, concat_ws('_', 'weapon') as weapon_atk, concat_ws('_', 'weapon') as weapon_atk_magik, concat_ws('_', 'weapon') as weapon_mana, concat_ws('_', 'weapon') as weapon_mana_cost, concat_ws('_', 'weapon') as weapon_durability, concat_ws('_', 'weapon') as weapon_max_durability, concat_ws('_', 'weapon') as weapon_broken
    FROM hero
    JOIN weapon ON hero.weapon = weapon.id
    WHERE hero.weapon IS NOT NULL

+---+------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+---------+-----------+----------+----------------+-----------+----------------+-----------------+---------------------+-------------+
| id|  name| pv|max_pv|atk|atk_magik|mana|max_mana|initiative|experience|experience_to_level_up|level|speed|origine_speed|items|weapon|armor|weapon_id|weapon_name|weapon_atk|weapon_atk_magik|weapon_mana|weapon_mana_cost|weapon_durability|weapon_max_durability|weapon_broken|
+---+------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+---------+-----------+----------+----------------+-----------+----------------+-----------------+---------------------+-------------+
| 26|Zander|175|   175|  1|       38|  77|      77|        61|       180|                   454|    2|   93|           41|   []|    26| null|   weapon|     weapon|    weapon|          weapon|     weapon|          weapon|           weapon|               weapon|       weapon|
+---+------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+---------+-----------+----------+----------------+-----------+----------------+-----------------+---------------------+-------------+

In [22]:
def armor_update_table(updated_df):
    # Mettre à jour la colonne "armor" avec les valeurs de la colonne "armor_updated"
    updated_df = updated_df.withColumn('armor', col('armor_updated'))

    # Supprimer la colonne "armor_updated"
    updated_df = updated_df.drop('armor_updated')
    
    return updated_df



# Créer une nouvelle colonne avec la valeur mise à jour conditionnellement
updated_df = df_hero.withColumn('armor_updated', when(col('id') == 18, 18).otherwise(col('armor')))


# Mettre à jour la colonne "armor" avec les valeurs de la colonne "armor_updated" et Supprimer la colonne "armor_updated" 
df_hero = armor_update_table(updated_df)

# Afficher le DataFrame mis à jour
df_hero.show()

+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
| id|     name| pv|max_pv|atk|atk_magik|mana|max_mana|initiative|experience|experience_to_level_up|level|speed|origine_speed|items|weapon|armor|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
|  1|     Aria|195|   195| 13|       14|   5|       5|        54|       582|                   103|    9|   48|           96|   []|  null| null|
|  2|Balthazar|112|   112| 40|        6|  63|      63|        28|       237|                   587|    2|   83|           60|   []|  null| null|
|  3|Cassandra|160|   160| 17|        7|  60|      60|        96|        23|                   881|    7|   18|           53|   []|  null| null|
|  4|   Darian|132|   132| 15|       46|  13|      13|        87|       432|                   444|    2|   23|           17|   []|  null| null|
|  5|    Elena|139|   139| 17|       10|  28|      28|        32|       671|                   262|    6|   93|            6|   []|  null| null|
|  6|    Felix|144|   144| 42|       30|  91|      91|        21|       745|                   415|    2|   66|            6|   []|  null| null|
|  7|Gabrielle|138|   138|  5|       48|  89|      89|        72|       285|                   164|    8|   12|           76|   []|  null| null|
|  8|  Hadrien| 70|    70| 23|        6|  51|      51|        33|       248|                   573|   10|   60|           23|   []|  null| null|
|  9|  Isadora|156|   156| 45|       10|  80|      80|        17|       394|                   114|    3|   12|           25|   []|  null| null|
| 10|   Jasper|109|   109| 21|        1|  10|      10|        22|        50|                   320|    5|   35|            7|   []|  null| null|
| 11|     Kara|156|   156| 19|       31|  90|      90|         8|       216|                   566|    1|   23|           79|   []|  null| null|
| 12|   Landon| 86|    86| 23|       20|  18|      18|         2|        86|                   516|    4|   29|           59|   []|  null| null|
| 13|    Malys|146|   146| 42|       37|  22|      22|         6|       149|                   508|    6|   98|           85|   []|  null| null|
| 14|    Nolan| 91|    91| 33|       33|  19|      19|        86|        89|                   291|    5|   18|            8|   []|  null| null|
| 15|   Olivia|191|   191|  4|       33|  62|      62|        30|       655|                   414|    3|   55|           38|   []|  null| null|
| 16| Philemon|106|   106| 21|       23|  17|      17|        70|       809|                   325|    1|   27|           60|   []|  null| null|
| 17|  Quintus|117|   117| 23|        9|  17|      17|        89|       632|                   269|    2|   80|          100|   []|  null| null|
| 18|  Raphael|122|   122| 21|       26|  14|      14|        71|       704|                   287|    8|   16|           39|   []|  null|   18|
| 19|  Saoirse|104|   104| 38|       41|  46|      46|        78|       722|                   130|    5|   80|           44|   []|  null| null|
| 20| Thaddeus| 75|    75|  2|       32|  20|      20|        38|       458|                   417|    1|   64|            8|   []|  null| null|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
only showing top 20 rows

In [23]:
# Créer une nouvelle colonne avec la valeur mise à jour conditionnellement
updated_df = df_hero.withColumn('armor_updated', when((col('id') < 18) | (col('id') > 18), 14).otherwise(col('armor')))

# Mettre à jour la colonne "armor" avec les valeurs de la colonne "armor_updated" et Supprimer la colonne "armor_updated" 
df_hero = armor_update_table(updated_df)

# Afficher le DataFrame mis à jour
df_hero.show(n=50)

+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
| id|     name| pv|max_pv|atk|atk_magik|mana|max_mana|initiative|experience|experience_to_level_up|level|speed|origine_speed|items|weapon|armor|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
|  1|     Aria|195|   195| 13|       14|   5|       5|        54|       582|                   103|    9|   48|           96|   []|  null|   14|
|  2|Balthazar|112|   112| 40|        6|  63|      63|        28|       237|                   587|    2|   83|           60|   []|  null|   14|
|  3|Cassandra|160|   160| 17|        7|  60|      60|        96|        23|                   881|    7|   18|           53|   []|  null|   14|
|  4|   Darian|132|   132| 15|       46|  13|      13|        87|       432|                   444|    2|   23|           17|   []|  null|   14|
|  5|    Elena|139|   139| 17|       10|  28|      28|        32|       671|                   262|    6|   93|            6|   []|  null|   14|
|  6|    Felix|144|   144| 42|       30|  91|      91|        21|       745|                   415|    2|   66|            6|   []|  null|   14|
|  7|Gabrielle|138|   138|  5|       48|  89|      89|        72|       285|                   164|    8|   12|           76|   []|  null|   14|
|  8|  Hadrien| 70|    70| 23|        6|  51|      51|        33|       248|                   573|   10|   60|           23|   []|  null|   14|
|  9|  Isadora|156|   156| 45|       10|  80|      80|        17|       394|                   114|    3|   12|           25|   []|  null|   14|
| 10|   Jasper|109|   109| 21|        1|  10|      10|        22|        50|                   320|    5|   35|            7|   []|  null|   14|
| 11|     Kara|156|   156| 19|       31|  90|      90|         8|       216|                   566|    1|   23|           79|   []|  null|   14|
| 12|   Landon| 86|    86| 23|       20|  18|      18|         2|        86|                   516|    4|   29|           59|   []|  null|   14|
| 13|    Malys|146|   146| 42|       37|  22|      22|         6|       149|                   508|    6|   98|           85|   []|  null|   14|
| 14|    Nolan| 91|    91| 33|       33|  19|      19|        86|        89|                   291|    5|   18|            8|   []|  null|   14|
| 15|   Olivia|191|   191|  4|       33|  62|      62|        30|       655|                   414|    3|   55|           38|   []|  null|   14|
| 16| Philemon|106|   106| 21|       23|  17|      17|        70|       809|                   325|    1|   27|           60|   []|  null|   14|
| 17|  Quintus|117|   117| 23|        9|  17|      17|        89|       632|                   269|    2|   80|          100|   []|  null|   14|
| 18|  Raphael|122|   122| 21|       26|  14|      14|        71|       704|                   287|    8|   16|           39|   []|  null|   18|
| 19|  Saoirse|104|   104| 38|       41|  46|      46|        78|       722|                   130|    5|   80|           44|   []|  null|   14|
| 20| Thaddeus| 75|    75|  2|       32|  20|      20|        38|       458|                   417|    1|   64|            8|   []|  null|   14|
| 21|   Ursula|177|   177| 16|       34|  63|      63|        99|       158|                   792|    6|   36|           28|   []|  null|   14|
| 22| Valentin| 98|    98| 36|       41|  33|      33|        76|       187|                   452|    9|   61|           41|   []|  null|   14|
| 23|  Wilhelm|165|   165| 10|       44|  11|      11|        38|       916|                   228|   10|   97|           65|   []|  null|   14|
| 24|   Xander|179|   179| 12|       37|  47|      47|        25|       198|                   401|    1|   97|           96|   []|  null|   14|
| 25|     Yara|122|   122| 37|       45|  28|      28|        42|       561|                   990|   10|   68|           51|   []|  null|   14|
| 26|   Zander|175|   175|  1|       38|  77|      77|        61|       180|                   454|    2|   93|           41|   []|    26|   14|
| 27|    Aidan|168|   168| 10|       20|  13|      13|        31|       109|                   600|    3|   72|            9|   []|  null|   14|
| 28|  Brianna|179|   179| 14|       40|  75|      75|        27|       664|                   626|    9|   69|           45|   []|  null|   14|
| 29|    Caleb| 58|    58| 41|       17|  69|      69|        89|       200|                   134|    5|   78|            7|   []|  null|   14|
| 30|   Dahlia|167|   167| 41|       43|  66|      66|        13|       634|                   725|    1|   72|           87|   []|  null|   14|
| 31|   Evelyn| 68|    68| 38|       23|  75|      75|        97|       771|                   209|    4|   36|           20|   []|  null|   14|
| 32| Finnegan| 61|    61| 39|       37|  69|      69|        18|       506|                   169|    2|   95|           23|   []|  null|   14|
| 33|Gwendolyn|189|   189| 12|        9|  24|      24|        79|       968|                   290|    7|   48|           26|   []|  null|   14|
| 34|   Harvey|186|   186| 42|       28|  18|      18|        26|       778|                   302|    4|   22|           65|   []|  null|   14|
| 35|   Imogen|196|   196|  4|        3|  30|      30|        49|       543|                   825|    9|   25|           34|   []|  null|   14|
| 36|    Jaden| 50|    50| 21|       13|  32|      32|        53|       641|                   544|    5|   85|           72|   []|  null|   14|
| 37|   Kendra|179|   179| 31|       29|  16|      16|        75|       919|                   206|    1|   92|           74|   []|  null|   14|
| 38|     Liam|174|   174|  2|       18|  20|      20|        48|       286|                   847|    8|   31|           50|   []|  null|   14|
| 39|  Matilda|183|   183| 25|        7|  36|      36|        38|       798|                   233|    5|   68|            8|   []|  null|   14|
| 40|    Niamh|155|   155|  8|        6|  61|      61|        36|       521|                   200|    4|   17|           86|   []|  null|   14|
| 41|  Ophelia|180|   180| 18|       31|  59|      59|        56|       504|                   266|    9|   93|           72|   []|  null|   14|
| 42| Percival|157|   157| 46|       17|  51|      51|        35|       899|                   761|    1|   17|           20|   []|  null|   14|
| 43|    Qiana|111|   111|  9|       36|  47|      47|        36|       826|                   980|    4|   56|           64|   []|  null|   14|
| 44|    Riley|102|   102| 26|       44|  56|      56|         2|       308|                   945|    6|   22|           21|   []|  null|   14|
| 45|Sebastian|124|   124| 16|       40|  77|      77|        51|       608|                   240|   10|   76|           83|   []|  null|   14|
| 46|  Tristan|124|   124| 46|       10|  34|      34|        98|       925|                   138|    2|   31|           47|   []|  null|   14|
| 47|    Uriel|104|   104| 44|       43|  28|      28|        24|        31|                   458|    2|   76|           92|   []|  null|   14|
| 48|   Violet| 57|    57| 42|       22|  43|      43|        95|       727|                   554|    1|   28|           57|   []|  null|   14|
| 49|    Wyatt| 76|    76| 47|       43|  89|      89|        16|       377|                   746|    1|   15|           68|   []|  null|   14|
| 50|  Xiomara|181|   181| 34|       28|  16|      16|        99|       899|                   815|    6|   60|           82|   []|  null|   14|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+

In [24]:
# Créer une nouvelle colonne avec la valeur mise à jour conditionnellement
updated_df = df_hero.withColumn('armor_updated', when(col('id').between(10, 15), 11).otherwise(col('armor')))


# Mettre à jour la colonne "armor" avec les valeurs de la colonne "armor_updated" et Supprimer la colonne "armor_updated" 
df_hero = armor_update_table(updated_df)

# Afficher le DataFrame mis à jour
df_hero.show()

+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
| id|     name| pv|max_pv|atk|atk_magik|mana|max_mana|initiative|experience|experience_to_level_up|level|speed|origine_speed|items|weapon|armor|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
|  1|     Aria|195|   195| 13|       14|   5|       5|        54|       582|                   103|    9|   48|           96|   []|  null|   14|
|  2|Balthazar|112|   112| 40|        6|  63|      63|        28|       237|                   587|    2|   83|           60|   []|  null|   14|
|  3|Cassandra|160|   160| 17|        7|  60|      60|        96|        23|                   881|    7|   18|           53|   []|  null|   14|
|  4|   Darian|132|   132| 15|       46|  13|      13|        87|       432|                   444|    2|   23|           17|   []|  null|   14|
|  5|    Elena|139|   139| 17|       10|  28|      28|        32|       671|                   262|    6|   93|            6|   []|  null|   14|
|  6|    Felix|144|   144| 42|       30|  91|      91|        21|       745|                   415|    2|   66|            6|   []|  null|   14|
|  7|Gabrielle|138|   138|  5|       48|  89|      89|        72|       285|                   164|    8|   12|           76|   []|  null|   14|
|  8|  Hadrien| 70|    70| 23|        6|  51|      51|        33|       248|                   573|   10|   60|           23|   []|  null|   14|
|  9|  Isadora|156|   156| 45|       10|  80|      80|        17|       394|                   114|    3|   12|           25|   []|  null|   14|
| 10|   Jasper|109|   109| 21|        1|  10|      10|        22|        50|                   320|    5|   35|            7|   []|  null|   11|
| 11|     Kara|156|   156| 19|       31|  90|      90|         8|       216|                   566|    1|   23|           79|   []|  null|   11|
| 12|   Landon| 86|    86| 23|       20|  18|      18|         2|        86|                   516|    4|   29|           59|   []|  null|   11|
| 13|    Malys|146|   146| 42|       37|  22|      22|         6|       149|                   508|    6|   98|           85|   []|  null|   11|
| 14|    Nolan| 91|    91| 33|       33|  19|      19|        86|        89|                   291|    5|   18|            8|   []|  null|   11|
| 15|   Olivia|191|   191|  4|       33|  62|      62|        30|       655|                   414|    3|   55|           38|   []|  null|   11|
| 16| Philemon|106|   106| 21|       23|  17|      17|        70|       809|                   325|    1|   27|           60|   []|  null|   14|
| 17|  Quintus|117|   117| 23|        9|  17|      17|        89|       632|                   269|    2|   80|          100|   []|  null|   14|
| 18|  Raphael|122|   122| 21|       26|  14|      14|        71|       704|                   287|    8|   16|           39|   []|  null|   18|
| 19|  Saoirse|104|   104| 38|       41|  46|      46|        78|       722|                   130|    5|   80|           44|   []|  null|   14|
| 20| Thaddeus| 75|    75|  2|       32|  20|      20|        38|       458|                   417|    1|   64|            8|   []|  null|   14|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
only showing top 20 rows

In [25]:
# Créer une nouvelle colonne avec la valeur mise à jour conditionnellement
updated_df = df_hero.withColumn('armor_updated', when((col('armor') == 14) & (col('id') < 5), 7).otherwise(col('armor')))


# Mettre à jour la colonne "armor" avec les valeurs de la colonne "armor_updated" et Supprimer la colonne "armor_updated" 
df_hero = armor_update_table(updated_df)

# Afficher le DataFrame mis à jour
df_hero.show()

+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
| id|     name| pv|max_pv|atk|atk_magik|mana|max_mana|initiative|experience|experience_to_level_up|level|speed|origine_speed|items|weapon|armor|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
|  1|     Aria|195|   195| 13|       14|   5|       5|        54|       582|                   103|    9|   48|           96|   []|  null|    7|
|  2|Balthazar|112|   112| 40|        6|  63|      63|        28|       237|                   587|    2|   83|           60|   []|  null|    7|
|  3|Cassandra|160|   160| 17|        7|  60|      60|        96|        23|                   881|    7|   18|           53|   []|  null|    7|
|  4|   Darian|132|   132| 15|       46|  13|      13|        87|       432|                   444|    2|   23|           17|   []|  null|    7|
|  5|    Elena|139|   139| 17|       10|  28|      28|        32|       671|                   262|    6|   93|            6|   []|  null|   14|
|  6|    Felix|144|   144| 42|       30|  91|      91|        21|       745|                   415|    2|   66|            6|   []|  null|   14|
|  7|Gabrielle|138|   138|  5|       48|  89|      89|        72|       285|                   164|    8|   12|           76|   []|  null|   14|
|  8|  Hadrien| 70|    70| 23|        6|  51|      51|        33|       248|                   573|   10|   60|           23|   []|  null|   14|
|  9|  Isadora|156|   156| 45|       10|  80|      80|        17|       394|                   114|    3|   12|           25|   []|  null|   14|
| 10|   Jasper|109|   109| 21|        1|  10|      10|        22|        50|                   320|    5|   35|            7|   []|  null|   11|
| 11|     Kara|156|   156| 19|       31|  90|      90|         8|       216|                   566|    1|   23|           79|   []|  null|   11|
| 12|   Landon| 86|    86| 23|       20|  18|      18|         2|        86|                   516|    4|   29|           59|   []|  null|   11|
| 13|    Malys|146|   146| 42|       37|  22|      22|         6|       149|                   508|    6|   98|           85|   []|  null|   11|
| 14|    Nolan| 91|    91| 33|       33|  19|      19|        86|        89|                   291|    5|   18|            8|   []|  null|   11|
| 15|   Olivia|191|   191|  4|       33|  62|      62|        30|       655|                   414|    3|   55|           38|   []|  null|   11|
| 16| Philemon|106|   106| 21|       23|  17|      17|        70|       809|                   325|    1|   27|           60|   []|  null|   14|
| 17|  Quintus|117|   117| 23|        9|  17|      17|        89|       632|                   269|    2|   80|          100|   []|  null|   14|
| 18|  Raphael|122|   122| 21|       26|  14|      14|        71|       704|                   287|    8|   16|           39|   []|  null|   18|
| 19|  Saoirse|104|   104| 38|       41|  46|      46|        78|       722|                   130|    5|   80|           44|   []|  null|   14|
| 20| Thaddeus| 75|    75|  2|       32|  20|      20|        38|       458|                   417|    1|   64|            8|   []|  null|   14|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
only showing top 20 rows

In [26]:
# Créer une nouvelle colonne avec la valeur mise à jour conditionnellement
updated_df = df_hero.withColumn('armor_updated', when((col('armor') == 18) , 'null' ).otherwise(col('armor')))


# Mettre à jour la colonne "armor" avec les valeurs de la colonne "armor_updated" et Supprimer la colonne "armor_updated" 
df_hero = armor_update_table(updated_df)

# Afficher le DataFrame mis à jour
df_hero.show()

+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
| id|     name| pv|max_pv|atk|atk_magik|mana|max_mana|initiative|experience|experience_to_level_up|level|speed|origine_speed|items|weapon|armor|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
|  1|     Aria|195|   195| 13|       14|   5|       5|        54|       582|                   103|    9|   48|           96|   []|  null|    7|
|  2|Balthazar|112|   112| 40|        6|  63|      63|        28|       237|                   587|    2|   83|           60|   []|  null|    7|
|  3|Cassandra|160|   160| 17|        7|  60|      60|        96|        23|                   881|    7|   18|           53|   []|  null|    7|
|  4|   Darian|132|   132| 15|       46|  13|      13|        87|       432|                   444|    2|   23|           17|   []|  null|    7|
|  5|    Elena|139|   139| 17|       10|  28|      28|        32|       671|                   262|    6|   93|            6|   []|  null|   14|
|  6|    Felix|144|   144| 42|       30|  91|      91|        21|       745|                   415|    2|   66|            6|   []|  null|   14|
|  7|Gabrielle|138|   138|  5|       48|  89|      89|        72|       285|                   164|    8|   12|           76|   []|  null|   14|
|  8|  Hadrien| 70|    70| 23|        6|  51|      51|        33|       248|                   573|   10|   60|           23|   []|  null|   14|
|  9|  Isadora|156|   156| 45|       10|  80|      80|        17|       394|                   114|    3|   12|           25|   []|  null|   14|
| 10|   Jasper|109|   109| 21|        1|  10|      10|        22|        50|                   320|    5|   35|            7|   []|  null|   11|
| 11|     Kara|156|   156| 19|       31|  90|      90|         8|       216|                   566|    1|   23|           79|   []|  null|   11|
| 12|   Landon| 86|    86| 23|       20|  18|      18|         2|        86|                   516|    4|   29|           59|   []|  null|   11|
| 13|    Malys|146|   146| 42|       37|  22|      22|         6|       149|                   508|    6|   98|           85|   []|  null|   11|
| 14|    Nolan| 91|    91| 33|       33|  19|      19|        86|        89|                   291|    5|   18|            8|   []|  null|   11|
| 15|   Olivia|191|   191|  4|       33|  62|      62|        30|       655|                   414|    3|   55|           38|   []|  null|   11|
| 16| Philemon|106|   106| 21|       23|  17|      17|        70|       809|                   325|    1|   27|           60|   []|  null|   14|
| 17|  Quintus|117|   117| 23|        9|  17|      17|        89|       632|                   269|    2|   80|          100|   []|  null|   14|
| 18|  Raphael|122|   122| 21|       26|  14|      14|        71|       704|                   287|    8|   16|           39|   []|  null| null|
| 19|  Saoirse|104|   104| 38|       41|  46|      46|        78|       722|                   130|    5|   80|           44|   []|  null|   14|
| 20| Thaddeus| 75|    75|  2|       32|  20|      20|        38|       458|                   417|    1|   64|            8|   []|  null|   14|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
only showing top 20 rows

In [28]:
spark.sql(f'''SELECT * 
            FROM hero  
          ''').show()
df_hero.write.mode('overwrite').saveAsTable('hero')
spark.sql(f'''SELECT * 
            FROM hero  
          ''').show()

+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
| id|     name| pv|max_pv|atk|atk_magik|mana|max_mana|initiative|experience|experience_to_level_up|level|speed|origine_speed|items|weapon|armor|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
|  1|     Aria|195|   195| 13|       14|   5|       5|        54|       582|                   103|    9|   48|           96|   []|  null| null|
|  2|Balthazar|112|   112| 40|        6|  63|      63|        28|       237|                   587|    2|   83|           60|   []|  null| null|
|  3|Cassandra|160|   160| 17|        7|  60|      60|        96|        23|                   881|    7|   18|           53|   []|  null| null|
|  4|   Darian|132|   132| 15|       46|  13|      13|        87|       432|                   444|    2|   23|           17|   []|  null| null|
|  5|    Elena|139|   139| 17|       10|  28|      28|        32|       671|                   262|    6|   93|            6|   []|  null| null|
|  6|    Felix|144|   144| 42|       30|  91|      91|        21|       745|                   415|    2|   66|            6|   []|  null| null|
|  7|Gabrielle|138|   138|  5|       48|  89|      89|        72|       285|                   164|    8|   12|           76|   []|  null| null|
|  8|  Hadrien| 70|    70| 23|        6|  51|      51|        33|       248|                   573|   10|   60|           23|   []|  null| null|
|  9|  Isadora|156|   156| 45|       10|  80|      80|        17|       394|                   114|    3|   12|           25|   []|  null| null|
| 10|   Jasper|109|   109| 21|        1|  10|      10|        22|        50|                   320|    5|   35|            7|   []|  null| null|
| 11|     Kara|156|   156| 19|       31|  90|      90|         8|       216|                   566|    1|   23|           79|   []|  null| null|
| 12|   Landon| 86|    86| 23|       20|  18|      18|         2|        86|                   516|    4|   29|           59|   []|  null| null|
| 13|    Malys|146|   146| 42|       37|  22|      22|         6|       149|                   508|    6|   98|           85|   []|  null| null|
| 14|    Nolan| 91|    91| 33|       33|  19|      19|        86|        89|                   291|    5|   18|            8|   []|  null| null|
| 15|   Olivia|191|   191|  4|       33|  62|      62|        30|       655|                   414|    3|   55|           38|   []|  null| null|
| 16| Philemon|106|   106| 21|       23|  17|      17|        70|       809|                   325|    1|   27|           60|   []|  null| null|
| 17|  Quintus|117|   117| 23|        9|  17|      17|        89|       632|                   269|    2|   80|          100|   []|  null| null|
| 18|  Raphael|122|   122| 21|       26|  14|      14|        71|       704|                   287|    8|   16|           39|   []|  null| null|
| 19|  Saoirse|104|   104| 38|       41|  46|      46|        78|       722|                   130|    5|   80|           44|   []|  null| null|
| 20| Thaddeus| 75|    75|  2|       32|  20|      20|        38|       458|                   417|    1|   64|            8|   []|  null| null|
+---+---------+---+------+---+---------+----+--------+----------+----------+----------------------+-----+-----+-------------+-----+------+-----+
only showing top 20 rows

Py4JJavaError: An error occurred while calling o150.saveAsTable.
: java.lang.UnsatisfiedLinkError: 'boolean org.apache.hadoop.io.nativeio.NativeIO$Windows.access0(java.lang.String, int)'
	at org.apache.hadoop.io.nativeio.NativeIO$Windows.access0(Native Method)
	at org.apache.hadoop.io.nativeio.NativeIO$Windows.access(NativeIO.java:793)
	at org.apache.hadoop.fs.FileUtil.canRead(FileUtil.java:1249)
	at org.apache.hadoop.fs.FileUtil.list(FileUtil.java:1454)
	at org.apache.hadoop.fs.RawLocalFileSystem.listStatus(RawLocalFileSystem.java:601)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:1972)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:2014)
	at org.apache.hadoop.fs.ChecksumFileSystem.listStatus(ChecksumFileSystem.java:761)
	at org.apache.spark.sql.catalyst.catalog.SessionCatalog.validateTableLocation(SessionCatalog.scala:413)
	at org.apache.spark.sql.execution.command.CreateDataSourceTableAsSelectCommand.run(createDataSourceTables.scala:176)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:118)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:195)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:103)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:827)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:65)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:94)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:512)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:104)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:512)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:31)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:31)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:31)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:488)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:94)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:81)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:79)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:133)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:856)
	at org.apache.spark.sql.DataFrameWriter.createTable(DataFrameWriter.scala:697)
	at org.apache.spark.sql.DataFrameWriter.saveAsTable(DataFrameWriter.scala:675)
	at org.apache.spark.sql.DataFrameWriter.saveAsTable(DataFrameWriter.scala:570)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:75)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:52)
	at java.base/java.lang.reflect.Method.invoke(Method.java:578)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:1623)